<nb-card>
    <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>
        <div class="row">
            <div class="col-sm-2">
                <h4 class="titulonuevo"></h4>
            </div>
            <div class="col-sm-10" style="background-color: transparent;">
                <div>

                </div>

            </div>
        </div>
    </nb-card-header>
<nb-card-body>
    <p-fieldset legend="Información Consulta">
    <div class="row" style="padding: 10px;">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Fecha Inicial</label>
                <br>
                <p-calendar class="calendar_size" dateFormat="dd/mm/yy" [ngStyle]="{'width': '100%'}" [showIcon]="true"
                    [showTime]="true" yearRange="2000:2030" placeholder='Todos' [monthNavigator]="true"
                    [yearNavigator]="true"></p-calendar>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Fecha Final</label>
                <br>
                <p-calendar class="calendar_size" dateFormat="dd/mm/yy" [ngStyle]="{'width': '100%'}" [showIcon]="true"
                    [showTime]="true" yearRange="2000:2030" placeholder='Todos' [monthNavigator]="true"
                    [yearNavigator]="true"></p-calendar>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Estado</label>
                <br>
                <p-dropdown placeholder="Todos"></p-dropdown>
            </div>
        </div>

    </div>
    </p-fieldset>
    <br>
    <p-fieldset legend="Detalle">
    <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="tipousuario" [responsive]="true"
        [sortOrder]="-1" sortField="tipousuario" [value]="dto"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th class="tablaHeaderAccion3">Acción</th>

                <th pSortableColumn="tipousuario">Nro.<p-sortIcon field="tipousuario"> </p-sortIcon>
                </th>

                <th pSortableColumn="Perfil">Fecha Inicio<p-sortIcon field="Perfil"></p-sortIcon>
                </th>

                <th pSortableColumn="VaEstado">Fecha Fin<p-sortIcon field="VaEstado"></p-sortIcon>
                </th>
                <th pSortableColumn="tipousuario">Valor<p-sortIcon field="tipousuario"> </p-sortIcon>
                </th>
                <th pSortableColumn="tipousuario">Estado<p-sortIcon field="tipousuario"> </p-sortIcon>
                </th>





            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-asignarPerfil>
            <tr>
                <td class="tablaColumnaAccion3">
                    <span class="p-column-title">Acción</span>
                    <table>
                        <tr>
                            <th>
                                <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                    class="p-button-rounded p-button-text" title="Editar"
                                    (click)="coreEditar(asignarPerfil)"></button>
                            </th>
                            <th>
                                <button pButton pRipple type="button" icon="fad fa-search"
                                    class="p-button-rounded p-button-text" title="Ver"
                                    (click)="coreVer(asignarPerfil)"></button>
                            </th>
                            <th>
                                <button pButton pRipple type="button" icon="fad fa-minus-circle"
                                    class="p-button-rounded p-button-text" title="Inactivar"></button>
                            </th>
                        </tr>
                    </table>
                </td>
                <td>{{asignarPerfil.CodigoTabla}}</td>

                <td>{{asignarPerfil.Descripcion}}</td>

                <td>
                    <span>{{asignarPerfil.Nombre}}</span>
                </td>
                <td>{{asignarPerfil.CodigoTabla}}</td>
                <td>{{asignarPerfil.CodigoTabla}}</td>


            </tr>
        </ng-template>
    </p-table>
    </p-fieldset>
</nb-card-body>

</nb-card>

<ngx-cambio-comercial-mantenimiento></ngx-cambio-comercial-mantenimiento>
