<p-blockUI [baseZIndex]="2000" [blocked]="bloquearPag">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '1450px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="1000"
    (onHide)="btnCerrar()">

    <ng-template pTemplate="content">
        <br>
        <div class="row">
            <div class="col-sm-8">
                <p-fieldset legend="Contrato">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 ml-2 mb-2 text-right">
                                    <button (click)="buscarSeparacionLote('LOTE')" pButton icon="fal fa-search"
                                        class="botonbuscar" label="Separación de Lote" [disabled]="tieneReserva"
                                        type="button" title="Buscar Separación"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="label">Cliente</label>
                                    <div class="p-inputgroup">
                                        <input pInputText type="text" [(ngModel)]="dto.Documento" [readonly]="true"
                                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                            style="width:130%; background-color: rgb(247, 247, 208); height: 30px; width: 30%;  "
                                            [disabled]="puedeEditar" />
                                        <input pInputText type="text" [(ngModel)]="dto.Cliente" [readonly]="true"
                                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                            style="width:130%; background-color: rgb(247, 247, 208); height: 30px;"
                                            [disabled]="puedeEditar" />
                                        <div class="input-group-append">
                                            <button pButton icon="fad fa-minus-circle" type="button" title="Limpiar"
                                                (click)="limpiarCliente()" [disabled]="tieneReserva">
                                            </button>
                                            <button (click)="verPersona('CLIENTE')" pButton icon="fal fa-search"
                                                class="botonbuscar" [disabled]="tieneReserva" type="button"
                                                title="Buscar Cliente"></button>
                                            <button (click)="crearPersona('CLIENTE')" pButton icon="fal fa-user-plus"
                                                class="botonbuscar" [disabled]="tieneReserva" type="button"
                                                title="Nuevo Cliente"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="label">Conyuge</label>
                                    <div class="p-inputgroup">
                                        <input pInputText type="text" [(ngModel)]="dto.DocumentoCony" [readonly]="true"
                                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                            style="width:130%; height: 30px; width: 30%;  " [disabled]="puedeEditar" />
                                        <input pInputText type="text" [(ngModel)]="dto.Conyuge" [readonly]="true"
                                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                            style="width:130%; height: 30px;" [disabled]="puedeEditar" />
                                        <div class="input-group-append">
                                            <button pButton icon="fad fa-minus-circle" type="button" title="Limpiar"
                                                (click)="limpiarConyuge()" [disabled]="puedeEditar">
                                            </button>
                                            <button (click)="verConyuge('CONYUGE')" pButton icon="fal fa-search"
                                                class="botonbuscar" [disabled]="puedeEditar" type="button"
                                                title="Buscar Conyuge"></button>
                                            <button (click)="crearConyuge('CONYUGE')" pButton icon="fal fa-user-plus"
                                                class="botonbuscar" [disabled]="puedeEditar" type="button"
                                                title="Nuevo Conyuge"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label">Compañia</label>
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                                            <p-dropdown [disabled]="tieneReserva"
                                                (onChange)="selectedItemcompania($event)" class="drop-down"
                                                [(ngModel)]="dto.CompaniaCodigo" [options]="lstCompania"
                                                [style]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label">Sucursal</label>
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                                            <p-dropdown [(ngModel)]="dto.IdSede" [options]="lstSucursal"
                                                [disabled]="tieneReserva" class="drop-down"
                                                (onChange)="cargarComboPrograma()"
                                                [style]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label">Programa</label>
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                                            <p-dropdown [(ngModel)]="dto.IdProyecto" [options]="lstPrograma"
                                                [disabled]="tieneReserva" class="drop-down"
                                                (onChange)="selectedItemPrograma($event)"
                                                [style]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"></p-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label">Manzana</label>
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                                            <p-dropdown [disabled]="tieneReserva" [options]="lstManzana"
                                                class="drop-down" [(ngModel)]="dto.IdManzana"
                                                (onChange)="selectedItemManzana($event)"
                                                [style]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="label">Lote</label>
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                                            <p-dropdown [disabled]="tieneReserva" [options]="lstLote"
                                                [(ngModel)]="dto.IdLote" (onChange)="selectedItemLote($event)"
                                                class="tablaCompletaIzquieda"
                                                [style]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="label">Área M2</label>
                                        <div class="p-inputgroup">

                                            <p-inputNumber [disabled]="true" mode="decimal" [(ngModel)]="dto.Area"
                                                [inputStyle]="{'width':'100%','text-align': 'right'}"
                                                [maxFractionDigits]="2" [minFractionDigits]="2">
                                            </p-inputNumber>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="label">Precio por M2</label>
                                        <div class="p-inputgroup">
                                            <p-inputNumber [disabled]="true" mode="decimal" [(ngModel)]="dto.Valor"
                                                [inputStyle]="{'width':'100%','text-align': 'right'}"
                                                [maxFractionDigits]="2" [minFractionDigits]="2">
                                            </p-inputNumber>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="label">Monto Total</label>
                                        <div class="p-inputgroup">
                                            <p-inputNumber [disabled]="true" mode="decimal" [(ngModel)]="dto.Monto"
                                                [inputStyle]="{'width':'100%','text-align': 'right'}"
                                                [maxFractionDigits]="2" [minFractionDigits]="2">
                                            </p-inputNumber>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-fieldset>

            </div>
            <div class="col-sm-4">
                <p-fieldset legend="Cuotas">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">

                                <div class="col-sm-6">
                                    <label class="label">Fecha de Primera Letra</label>
                                    <p-calendar [monthNavigator]="true" [yearNavigator]="true"
                                        [(ngModel)]="dto.FechaPrimeraLetra" [style]="{'width':'100%'}"
                                        [inputStyle]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"
                                        [minDate]="minDateFin" [locale]="es" [disabled]="puedeEditar"
                                        dateFormat="dd/mm/yy" [showIcon]="true">
                                    </p-calendar>
                                </div>
                                <div class="col-sm-6">
                                    <label class="label">Fecha de Inicial</label>
                                    <p-calendar [monthNavigator]="true" [yearNavigator]="true"
                                        [style]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"
                                        [(ngModel)]="dto.FechaInicial" [inputStyle]="{'width':'100%'}" [locale]="es"
                                        [disabled]="true" dateFormat="dd/mm/yy" [showIcon]="true">
                                    </p-calendar>
                                </div>

                                <!--       <div class="col-sm-6">
                                        <label class="label">Días de Gracia</label>
                                        <p-inputNumber [locale]="locale" mode="decimal"  [(ngModel)]="dto.DiasGracia"
                                            [inputStyle]="{'width':'100%','text-align': 'right'}" [style]="{'width':'100%'}"
                                            [maxFractionDigits]="0" [minFractionDigits]="0">
                                        </p-inputNumber>
                                    </div> -->

                                <div class="col-sm-6">
                                    <label class="label">Saldo</label>
                                    <p-inputNumber [locale]="locale" mode="decimal" [(ngModel)]="dto.Saldo"
                                        [inputStyle]="{'width':'100%','text-align': 'right', 'background-color':'rgb(247, 247, 208)'}"
                                        [disabled]="true" [style]="{'width':'100%'}" [maxFractionDigits]="2"
                                        [minFractionDigits]="2">
                                    </p-inputNumber>
                                </div>
                                <div class="col-sm-6">
                                    <label class="label">Monto Separación</label>
                                    <div class="p-inputgroup">
                                        <input pInputText type="mail" [(ngModel)]="dto.ValorSeparacion"
                                            [disabled]="true"
                                            class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                            style="width:100%;" />
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label class="label">Tipo de Cambio</label>
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon"><i class="pi  pi-money-bill"></i></span>
                                        <p-inputNumber mode="decimal" [(ngModel)]="dto.TipoCambio"
                                            [inputStyle]="{'width':'100%','text-align': 'right'}"
                                            [maxFractionDigits]="2" [disabled]="true" [minFractionDigits]="2">
                                        </p-inputNumber>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="label">Tipo Moneda</label>
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon"><i class="pi  pi-align-justify"></i></span>
                                        <p-dropdown [options]="lstMoneda" [disabled]="puedeEditar" style="width: 100%;"
                                            [(ngModel)]="dto.MonedaCodigo"
                                            [style]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"></p-dropdown>
                                    </div>
                                </div>
                        
                                <div class="col-sm-6">
                                    <label class="label">Tasa de Mora</label>
                                    <p-inputNumber [locale]="locale" mode="decimal" [(ngModel)]="dto.TasaInteres"
                                        [inputStyle]="{'width':'100%','text-align': 'right'}" [style]="{'width':'100%'}"
                                        [maxFractionDigits]="0" [minFractionDigits]="0" [disabled]="true">
                                    </p-inputNumber>
                                </div>
                                <div class="col-sm-6">
                                    <label class="label">Nro Contrato:</label>
                                    <input pInputText type="text" [disabled]="true" [(ngModel)]="dto.IdContrato"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:100%;" />
                                </div>


                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="label">Observación</label>
                                        <div class="p-inputgroup">
                                            <textarea [disabled]="puedeEditar" pInputTextarea rows="5" cols="20"
                                                [(ngModel)]="dto.Descripcion"
                                                [style]="{'width':'100%','text-transform': 'uppercase'}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <br>
            <div class="col-sm-6" style="margin-top: 15px;">
                <p-fieldset legend="Detalle de la Letra">
                    <div class="row">
                        <div class="col-sm-12">


                            <p-table #tbdetcontrato [style]="{'width': '100%'}" [value]="lstdetContrato" [lazy]="true"
                                [responsive]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th class="tablaHeaderCodigoChico">Id</th> -->
                                        <th class="tablaHeaderNombreChico">Concepto</th>
                                        <th class="tablaHeaderMonto">Monto</th>
                                        <th class="tablaHeaderMonto">Cantidad</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-row let-ri="rowIndex">
                                    <tr>

                                        <!-- <td class="tablaColumnaCodigoChico">
                                                <span class="p-column-title">Id</span>
                                                {{row.Id}}
                                            </td> -->

                                        <td class="tablaColumnaNombreChico">
                                            <span class="p-column-title">Concepto</span>
                                            {{row.Concepto}}
                                        </td>

                                        <td class="tablaColumnaMonto">
                                            <span class="p-column-title">Monto</span>

                                            <p-inputNumber (onBlur)="calculo()" [locale]="locale"
                                                [disabled]="puedeEditar" [(ngModel)]="row.Monto" mode="decimal"
                                                [inputStyle]="{'width':'100%','text-align': 'right', 'background-color':'rgb(247, 247, 208)'}"
                                                [maxFractionDigits]="2" [minFractionDigits]="2">
                                            </p-inputNumber>

                                        </td>


                                        <td class="tablaColumnaMonto cantidad-letras">
                                            <span class="p-column-title">Cantidad</span>
                                            <p-inputNumber (onBlur)="calculo()" [locale]="locale"
                                                [disabled]="puedeEditar" [disabled]="row.campodisabled"
                                                [(ngModel)]="row.Cantidad" mode="decimal"
                                                [inputStyle]="{'width':'100%','text-align': 'right'}"
                                                [maxFractionDigits]="2" [minFractionDigits]="0">
                                            </p-inputNumber>

                                        </td>


                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="18">
                                            No existen registros para mostrar
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>
                    </div>
                </p-fieldset>
            </div>
            <br>
            <div class="col-sm-6" style="margin-top: 15px;">
                <p-fieldset legend="Detalle Comisionista">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">   
                                <div class="col-sm-8">
                                    <label class="label">Comisionista</label>
                                    <div class="p-inputgroup">
                                        <div class="p-inputgroup">
                                            <input pInputText type="text" [(ngModel)]="dto.DocumentoVen" [readonly]="true"
                                                class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                                style="width:130%;; height: 30px; width: 30%;" [disabled]="puedeEditar" />
                                            <input pInputText type="text" [(ngModel)]="dto.Vendedor" [readonly]="true"
                                                class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                                style="width:130%; height: 30px;" [disabled]="puedeEditar" />                                          
                                            <button pButton icon="fad fa-minus-circle" type="button" title="Limpiar"
                                                    (click)="limpiarComisionista()" [disabled]="puedeEditar">
                                                </button>
                                            <button (click)="verComisionista('COMISIONISTA')" pButton icon="fal fa-search"
                                                    class="botonbuscar" [disabled]="puedeEditar" type="button"
                                                    title="Buscar Comisionista"></button> 
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-4">
                                    <label class="label">Comisión Total </label>
                                    <div class="p-inputgroup">
                                        <p-inputNumber [locale]="locale" mode="decimal" [(ngModel)]="dto.ComisionTotal"
                                            [inputStyle]="{'width':'100%','text-align': 'right'}" [disabled]="true"
                                            [style]="{'width':'100%'}" [maxFractionDigits]="0" [minFractionDigits]="0">
                                        </p-inputNumber>
                                        <p-button label="" icon="pi pi-plus" styleClass="p-button-primary"
                                        [disabled]="puedeEditar" (click)="coreAgregar()"></p-button>
                                    </div>
                                </div>
                            
                            </div>


                        </div>
                    </div>
                 
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <p-table #dt [rows]="15" [rowHover]="true" [responsive]="true " [style]="{ width: '100%'}"
                                [value]="lstComisionista"
                                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                                dataKey="num" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class=" label" style="width: 2rem; text-align: center;" ALIGN="center">
                                            Acciones</th>
                                        <th class=" label" style="width: 2rem; text-align: center;" ALIGN="center">
                                            Nro </th>
                                        <th class=" label" style="width: 8rem; text-align: center;" ALIGN="center">
                                            Descripción</th>
                                        <th class=" label" style="width: 4rem; text-align: center;" ALIGN="center">
                                            Valor </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowComisionista let-ri="rowIndex">
                                    <tr>
                                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                                            style="width: 2rem;">
                                            <span class="p-column-title">Acciones</span>
                                            <table>
                                                <tr>
                                                    <th>
                                                        <button pButton pRipple type="button" icon="fad fa-minus-circle"
                                                            class="p-button-rounded p-button-text" title="Eliminar"
                                                            (click)="coreEliminar(rowData,ri)"></button>
                                                    </th>
                                                </tr>
                                            </table>
                                        </td>

                                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                                            style="width: 2rem;">
                                            <span class="p-column-title">Nro</span>
                                            {{rowComisionista.Id}}
                                        </td>

                                        <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 8rem;">
                                            <span class="p-column-title">Descripción</span>
                                            <input pInputText type="mail" [(ngModel)]="rowComisionista.Concepto"
                                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                                style="width:100%;" [disabled]="puedeEditar" />
                                        </td>
                                        <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 4rem;">
                                            <span class="p-column-title">Porcentaje</span>
                                            <p-inputNumber [locale]="locale" [(ngModel)]="rowComisionista.Porcentaje"
                                                mode="decimal" [inputStyle]="{'width':'100%','text-align': 'right'}"
                                                [disabled]="puedeEditar" [maxFractionDigits]="0" [minFractionDigits]="0"
                                                (onBlur)="calculoComisionista()">
                                            </p-inputNumber>
                                        </td>

                                    </tr>

                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
        <br>
        <div class="row">
            <p-fieldset class="col-sm-12" legend="Auditoria">
                <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                    [modificacionFecha]="fechaModificacion"></ngx-auditoria>
            </p-fieldset>
        </div>
        <ngx-persona-buscar></ngx-persona-buscar>
        <ngx-persona-mantenimiento></ngx-persona-mantenimiento>
    </ng-template>

    <ng-template pTemplate="footer"> 
        <p-button label="Pdf" icon="pi pi-file-pdf" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="generarPdfLetrar()"></p-button>
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar($event)"></p-button>
    </ng-template>


</p-dialog>

<ngx-buscar-reserva></ngx-buscar-reserva>

<p-toast key="mr" [baseZIndex]="3000"></p-toast>
