<p-blockUI [blocked]="bloquearPag">
    <img src="assets\img\ZZ5H.gif" style="width: 5%" />
</p-blockUI>

<p-confirmDialog #c key="confirm2">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>
<p-card>
    <div class="row">
        <div class="col-sm-4">
            <h4 class="titulonuevo">Separación de Lotes</h4>
        </div>

        <div class="col-sm-8" style="background-color: transparent;" aria-orientation="horizontal">
            <button pButton icon="fa fa-search" type="button" title="Buscar" label="Buscar"
            class="p-button-secondary" (click)="coreBuscar()"></button>
            <button pButton icon="fa fa-file" type="button" title="Nuevo" label="Nuevo"
            class="p-button-secondary" (click)="coreNuevo()" ></button>
            <button pButton icon="fa fa-file" type="button" title="Pagar" label="Pagar"
            class="p-button-secondary" (click)="corePagar(lstSeleccionadomultiple)"></button>
            <button pButton icon="fa fa-file" type="button" title="Imprimir" label="Imprimir"
            class="p-button-secondary" (click)="coreImprimir(lstSeleccionadomultiple)"></button>
            <p-splitButton
            label="Exportar" icon="fa fa-file-pdf" (onClick)="exportExcel()" styleClass="p-button-text p-button-secondary" [model]="ltsExportar"></p-splitButton>
        </div>
    </div>

    <p-fieldset legend="Información Consulta" (keyup.enter)="coreBuscar()">
        <div class="row">
            <div class="col-sm-4">
                <label for="inputOrdAten" class="label">Compañia</label>
                <p-dropdown [(ngModel)]="filtro.CompaniaCodigo" [options]="lstCompania"
                    (onChange)="selectedItemcompania($event)" [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-4">
                <label for="inputOrdAten" class="label">Sucursal</label>
                <p-dropdown [(ngModel)]="filtro.IdSede" [options]="lstSucursal" (onChange)="cargarComboPrograma()"
                [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-4">
                <label for="inputOrdAten" class="label">Programa</label>
                <p-dropdown [(ngModel)]="filtro.IdProyecto" [options]="lstPrograma"
                [style]="{'width':'100%','text-transform': 'uppercase'}" (onChange)="selectedItemPrograma($event)"></p-dropdown>
            </div>


            <div class="col-sm-4">
                <label for="inputOrdAten" class="label">Cliente</label>
                <input pInputText type="text" placeholder="" [(ngModel)]="filtro.Cliente"
                    style="width: 100%; height: 30px" />
            </div>

            <div class="col-sm-4">
                <label class="label">Fecha Inicio</label>
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{ width: '100%' }"
                    [inputStyle]="{ width: '100%' }" yearRange="1940:2200" [locale]="es"
                    [(ngModel)]="filtro.FechaInicial" dateFormat="dd/mm/yy" [showIcon]="true">
                </p-calendar>
            </div>
            <div class="col-sm-4">
                <label class="label">Fecha Fin</label>
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{ width: '100%' }"
                    [inputStyle]="{ width: '100%' }" yearRange="1940:2200" [locale]="es" [(ngModel)]="filtro.FechaFinal"
                    dateFormat="dd/mm/yy" [showIcon]="true">
                </p-calendar>
            </div>
            <div class="col-sm-4">
                <label for="inputOrdAten" class="label">Estado Reserva</label>
                <p-dropdown [options]="lstEstadoSeparacion" (onChange)="cargarComboEstadoSeparacion()" [style]="{'width':'100%','text-transform': 'uppercase'}"
                    [(ngModel)]="filtro.Estado"></p-dropdown>
            </div>
        </div>
    </p-fieldset>
    <br>
    <p-fieldset legend="Detalle">
        <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstReserva"
            [responsive]="true" [sortOrder]="1" sortField="num" [(selection)]="lstSeleccionadomultiple"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" selectionMode="single" 
            [rowsPerPageOptions]="[15, 30, 50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px" selectionMode="single">
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th class="tablaHeaderCheckBox">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th> -->
                    <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
                    <th pSortableColumn="num" class="label" ALIGN="center" style="width: 4rem">
                        Nro<p-sortIcon field="num"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="FechaInicial" class="label" ALIGN="center"
                        style="width: 10rem; text-align: center">
                        F. Separación<p-sortIcon field="FechaInicial"> </p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="DescripcionCorta" ALIGN="center" style="width: 15rem; text-align: center;">
                        Compañia<p-sortIcon field="DescripcionCorta"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="SedDescripcion" ALIGN="center" style="width: 10rem; text-align: center;">
                        Sucursal<p-sortIcon field="SedDescripcion"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="NomProyecto" ALIGN="center" style="width: 10rem; text-align: center;">
                        Programa<p-sortIcon field="NomProyecto"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="NomManzana" ALIGN="center" style="width: 10rem; text-align: center;">
                        Manzana<p-sortIcon field="NomManzana"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="Lote" ALIGN="center" style="width: 10rem; text-align: center;">
                        Lote<p-sortIcon field="Lote"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Cliente" class="label" ALIGN="center" style="width: 10rem; text-align: center;">
                        Cliente<p-sortIcon field="Cliente"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="Diametro" ALIGN="center" style="width: 13rem; text-align: center;">
                        Area M2<p-sortIcon field="Diametro"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="Valor" ALIGN="center" style="width: 13rem; text-align: center;">
                        Precio<p-sortIcon field="Valor"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="CostoTotal" ALIGN="center" style="width: 13rem; text-align: center;">
                        Monto total<p-sortIcon field="CostoTotal"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="ValorSeparacion" ALIGN="center" style="width: 13rem; text-align: center;">
                        Monto de Separación<p-sortIcon field="ValorSeparacion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="TipoPago" class="label" ALIGN="center" style="width: 8rem; text-align: center;">
                        Tipo de Pago<p-sortIcon field="TipoPago"></p-sortIcon>
                    </th>
                    <!--<th pSortableColumn="desBanco" class="label" ALIGN="center" style="width: 5rem; text-align: center;">
                        Banco<p-sortIcon field="desBanco"></p-sortIcon>
                    </th>-->
                    <th pSortableColumn="FechaFinal" class="label" ALIGN="tablaHeaderFecha" style="width: 5rem; text-align: center;">
                        F. Fin<p-sortIcon field="FechaFinal"></p-sortIcon>
                    </th>
                    <th pSortableColumn="DesEstado" class="label" ALIGN="center" style="width: 8rem; text-align: center;">
                        E. Reserva<p-sortIcon field="DesEstado"></p-sortIcon>
                    </th>


                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr  [pSelectableRow]="rowData">
                    <!-- <td class="tablaColumnaCheckBox">
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td> -->
                    <td class="tablaColumnaAccion3">
                      <span class="p-column-title">Acción</span>
                      <table>
                          <tr>
                              <th>
                                  <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                      class="p-button-rounded p-button-text" title="Editar"
                                      (click)="coreEditar(rowData)"></button>
                              </th>
                              <th>
                                  <button pButton pRipple type="button" icon="fad fa-search"
                                      (click)="coreVer(rowData)" class="p-button-rounded p-button-text"
                                      title="Ver"></button>
                              </th>
                              <th>
                                <button pButton pRipple type="button" icon="fad fa-minus-circle"
                                    class="p-button-rounded p-button-text" title="Anular"
                                    (click)="coreinactivar(rowData)"></button>
                            </th>
                          </tr>
                      </table>
                  </td>
                    <td class="tablaColumnaCodigoChico text-center text-center" style="width: 4rem;">
                        <span class="p-column-title">Nro</span>
                        {{ rowData.num }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" style="width: 10rem;">
                        <span class="p-column-title">Fecha Separación</span>
                        {{ rowData.FechaInicial | date : "dd/MM/yyyy" }}
                    </td>

                    <td  class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 15rem;" >
                        <span class="p-column-title">Compañia</span>
                        {{ rowData.DescripcionCorta |uppercase}}
                    </td>

                    <td  class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;" >
                        <span class="p-column-title">Sucursal</span>
                        {{ rowData.SedDescripcion |uppercase}}
                    </td>

                    <td  class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;" >
                        <span class="p-column-title">Programa</span>
                        {{ rowData.NomProyecto |uppercase}}
                    </td>

                    <td  class="tablaColumnaCodigoChico text-center " ALIGN="center" style="width: 10rem;" >
                        <span class="p-column-title">Manzana</span>
                        {{ rowData.NomManzana |uppercase}}
                    </td>

                    <td  class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;" >
                        <span class="p-column-title">Lote</span>
                        {{ rowData.Lote |uppercase}}
                    </td>

                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;" >
                        <span class="p-column-title">Cliente</span>
                        {{ rowData.Cliente|uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center " ALIGN="center" style="width: 13rem;" >
                        <span class="p-column-title">Area M2</span>
                        {{ rowData.Diametro | number:'1.2-2'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center " ALIGN="center" style="width: 13rem;" >
                        <span class="p-column-title">Precio</span>
                        {{ rowData.Valor | number:'1.2-2'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center " ALIGN="center" style="width: 13rem;" >
                        <span class="p-column-title">Monto total</span>
                        {{ rowData.CostoTotal | number:'1.2-2'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center " ALIGN="center" style="width: 13rem;" >
                        <span class="p-column-title">Monto de Separación</span>
                        {{ rowData.ValorSeparacion | number:'1.2-2'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center " ALIGN="center" style="width: 8rem;" >
                        <span class="p-column-title">Tipo de Pago</span>
                        {{ rowData.NomTipoPago |uppercase}}
                    </td>

                   <!--<td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;" >
                        <span class="p-column-title">Banco</span>
                        {{ rowData.NomBanco |uppercase}}
                    </td>-->


                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;" >
                        <span class="p-column-title">F. Fin</span>
                        <span> {{ rowData.FechaFinal | date : "dd/MM/yyyy" }} </span>
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem;" >
                        <span class="p-column-title">E. Lote</span>
                        {{ rowData.DesEstado |uppercase}}
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
</p-card>
<ngx-reserva-mantenimiento></ngx-reserva-mantenimiento>
<ngx-reserva-pagar></ngx-reserva-pagar>
<ngx-reserva-imprimir></ngx-reserva-imprimir>
<p-toast key="bc" [baseZIndex]="4000"></p-toast>
<!---->
<!---->
<!---->

<!---->
<!---->
<!---->
<!---->
<!---->
<!---->

<!---->
<!---->
<!---->

<!---->
<!---->
