
<p-blockUI [blocked]="bloquearPag" [baseZIndex]="2000">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>


<p-confirmDialog #c key="confirm2">
  <p-footer>
      <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
          (click)="c.accept()"></button>
      <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
          (click)="c.reject()"></button>
  </p-footer>
</p-confirmDialog>

<p-card>
  <div class="row">
        <div class="col-sm-2">
            <h4 class="titulonuevo">Lote</h4>
        </div>
        <div class="col-sm-2" style="background-color: transparent;"></div>
        <div class="col-sm-8" style="background-color: transparent;" aria-orientation="horizontal">
            <button pButton icon="fa fa-search" type="button" title="Buscar" label="Buscar"
            class="p-button-secondary" (click)="coreBuscar()"></button>
            <button pButton icon="fa fa-file" type="button" title="Nuevo" label="Nuevo"
            class="p-button-secondary" (click)="coreNuevo()" ></button>
            <button pButton icon="fa fa-file" type="button" title="Unir" label="Unir"
            class="p-button-secondary" (click)="coreUnir()" ></button>
            <button pButton icon="fa fa-file" type="button" title="Dividir" label="Dividir"
            class="p-button-secondary" (click)="coreDividir()" ></button>
            <p-splitButton
            label="Exportar" icon="fa fa-file-pdf" (onClick)="exportExcel()" styleClass="p-button-text p-button-secondary" [model]="ltsExportar"></p-splitButton>
        </div>
  </div>
    <p-fieldset legend="Información Consulta"  (keyup.enter)="coreBuscar()">
    <div class="row">
      <div class="col-sm-4">
        <label for="inputOrdAten" class="label">Compañia</label>
        <p-dropdown [(ngModel)]="filtro.CompaniaCodigo" [options]="lstCompania"
          (onChange)="selectedItemcompania($event)" [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
      </div>
      <div class="col-sm-4">
        <label for="inputOrdAten" class="label">Sucursal</label>
        <p-dropdown [(ngModel)]="filtro.IdSede"  [options]="lstSucursal"
        (onChange)="selectedItemSucursal($event)" [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
      </div>
   <!--    cargarComboPrograma() -->
      <div class="col-sm-4">
        <label for="inputOrdAten" class="label">Programa</label>
        <p-dropdown  [(ngModel)]="filtro.IdProyecto" [options]="lstPrograma"
        (onChange)="selectedItemPrograma($event)" [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
    </div>
    <div class="col-sm-4">
      <label for="inputOrdAten" class="label">Manzana</label>
      <p-dropdown  [(ngModel)]="filtro.IdManzana" [options]="lstManzana"
      [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
  </div>
      <div class="col-sm-4">
        <label for="inputOrdAten" class="label">Nombre del Lote</label>
        <input pInputText type="text" placeholder="" style="width:100%; text-transform: uppercase;"
          [(ngModel)]="filtro.Nombre"/>
      </div>
      <div class="col-sm-4">
        <label for="inputLastName" class="label">Estado</label>
        <p-dropdown  [options]="lstEstados" [(ngModel)]="filtro.Estado" [style]="{'width':'100%','text-transform': 'uppercase'}" ></p-dropdown>
      </div>
    </div>
</p-fieldset>
<br>
<p-fieldset legend="Detalle">
    <p-table id="contenido" #dt [rows]="15" [paginator]="true" [rowHover]="true" [responsive]="true " [style]="{ width: '100%'}"
    [sortOrder]="1" [value]="lstLote" [(selection)]="lstSeleccionadomultiple"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [rowsPerPageOptions]="[15,30,50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">

    <ng-template pTemplate="header">
        <tr>
          <th class="tablaHeaderCheckBox"   >
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th class="tablaHeaderAccion3 label" ALIGN="center" >Acciones</th>

            <th pSortableColumn="num" class="label" ALIGN="center" style="width: 5rem; text-align: center;">Nro <p-sortIcon field="num"> </p-sortIcon>
            </th>
            <th class=" label" style="width: 15rem; text-align: center;" ALIGN="center" pSortableColumn="DescripcionCorta" >Compañia<p-sortIcon field="DescripcionCorta"></p-sortIcon>
            </th>
            <th class=" label" style="width: 10rem; text-align: center;" ALIGN="center" pSortableColumn="SedDescripcion">Sucursal<p-sortIcon field="SedDescripcion"></p-sortIcon>
            </th>
            <th class=" label" style="width: 10rem; text-align: center;" ALIGN="center" pSortableColumn="NomProyecto">Programa<p-sortIcon field="NomProyecto"></p-sortIcon>
            </th>
            <th class=" label" style="width: 10rem; text-align: center;" ALIGN="center"  pSortableColumn="NomManzana">Manzana<p-sortIcon field="NomManzana"></p-sortIcon>
            </th>
           <th class=" label" style="width: 10rem; text-align: center;" ALIGN="center" pSortableColumn="Nombre">Lote<p-sortIcon field="Nombre"></p-sortIcon>
            </th>
            <th  class=" label" style="width: 6rem; text-align: center;" ALIGN="center"  pSortableColumn="AreaTotal" >Area M2<p-sortIcon field="AreaTotal"></p-sortIcon>
            </th>
            <th class=" label" style="width: 8rem; text-align: center;" ALIGN="center" ALIGN="center" pSortableColumn="Valor">Precio por M2<p-sortIcon field="Valor"></p-sortIcon>
            </th>
            <th class=" label" style="width: 8rem; text-align: center;" ALIGN="center" pSortableColumn="ValorTotal">Monto Total<p-sortIcon field="ValorTotal"></p-sortIcon>
            </th>
            <th class=" label" style="width: 8rem; text-align: center;" ALIGN="center" pSortableColumn="DesUbicacion">Ubicación<p-sortIcon field="ValorTotal"></p-sortIcon>
            </th>
            <th class=" label" style="width: 6rem; text-align: center;" ALIGN="center" pSortableColumn="DesCondicion">E. Lote<p-sortIcon field="DesCondicion"></p-sortIcon>
            </th>

            <th class=" label" style="width: 6rem; text-align: center;" pSortableColumn="DesMoneda">Moneda<p-sortIcon field="DesMoneda"></p-sortIcon>
            </th>


            <th class=" label" style="width: 5rem; text-align: center;" pSortableColumn="DesEstado" >Estado<p-sortIcon field="DesEstado"></p-sortIcon>
            </th>


        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td class="tablaColumnaCheckBox"  >
              <p-tableCheckbox [value]="rowData" ></p-tableCheckbox>
          </td>
          <td class="tablaColumnaAccion3">
            <span class="p-column-title">Acción</span>
            <table>
                <tr>
                    <th>
                        <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                            class="p-button-rounded p-button-text" title="Editar" *ngIf="rowData.IdLotePadre == null "
                            (click)="coreEditar(rowData)"></button>
                    </th>
                    <th>
                        <button pButton pRipple type="button" icon="fad fa-search"
                            (click)="coreVer(rowData)" class="p-button-rounded p-button-text"
                            title="Ver"></button>
                    </th>
                    <th>
                        <button pButton pRipple type="button" icon="fad fa-minus-circle"  *ngIf="rowData.Estado == '1'"
                            (click)="coreinactivar(rowData)"   class="p-button-rounded p-button-text" title="Inactivar"></button>
                    </th>
                    <th>
                      <button pButton pRipple type="button" icon="pi pi-image"
                      (click)="coreVerImagen(rowData)"  class="p-button-rounded p-button-text" title="Ver Imagen"></button>
                  </th>
                </tr>
            </table>
        </td>
            <td  class="tablaColumnaCodigoChico text-center" style="width: 5rem; ">
              <span class="p-column-title">Nro</span>
              {{rowData.num}}
            </td>

            <td  class="tablaColumnaCodigoChico"  ALIGN="center" style="width: 15rem;" >
              <span class="p-column-title">Compañia</span>
              {{rowData.DescripcionCorta|uppercase}}
            </td>

            <td  class="tablaColumnaCodigoChico"  ALIGN="center" style="width: 10rem;" >
              <span class="p-column-title">Sucursal</span>
                {{rowData.SedDescripcion|uppercase}}
            </td>

            <td  class="tablaColumnaCodigoChico"  ALIGN="center" style="width: 10rem;">
              <span class="p-column-title">Programa</span>
              {{rowData.NomProyecto|uppercase}}
            </td>

            <td  class="tablaColumnaCodigoChico text-center"  ALIGN="center" style="width: 10rem;">
              <span class="p-column-title">Manzana</span>
              {{rowData.NomManzana|uppercase}}
            </td>

            <td  class="tablaColumnaCodigoChico" ALIGN="center" style="width: 10rem;" >
              <span class="p-column-title">Lote</span>
              {{rowData.Nombre|uppercase}}
            </td>
            <td  class="tablaColumnaCodigoChico" ALIGN="center" style="width: 6rem;">
              <span class="p-column-title">Area M2</span>
              {{rowData.AreaTotal | number:'1.2-2'}}
            </td>

            <td  class="tablaColumnaCodigoChico" ALIGN="center" style="width: 8rem;">
              <span class="p-column-title">Precio por M2</span>
               {{rowData.Valor | number:'1.2-2'}}
            </td>

            <td  class="tablaColumnaCodigoChico" ALIGN="center" style="width: 8rem;">
              <span class="p-column-title">Monto Total</span>
               {{rowData.ValorTotal | number:'1.2-2'}}
            </td>

            <td  class="tablaColumnaCodigoChico" ALIGN="center" style="width: 8rem;">
              <span class="p-column-title">Ubicación</span>
               {{rowData.DesUbicacion }}
            </td>

          <td  class="tablaColumnaCodigoChico" ALIGN="center" style="width: 6rem;">
            <span class="p-column-title">E. Lote</span>
            {{rowData.DesCondicion|uppercase}}
          </td>




      <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 6rem;">
        <span class="p-column-title">Moneda</span>
        {{rowData.DesMoneda|uppercase}}
    </td>


            <td  class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
              <span class="p-column-title">Estado</span>
              {{rowData.DesEstado|uppercase}}
            </td>


        </tr>
    </ng-template>
  </p-table>
</p-fieldset>
</p-card>
<ngx-lotes-mantenimiento></ngx-lotes-mantenimiento>
<ngx-lotes-unir></ngx-lotes-unir>
<ngx-lotes-dividir></ngx-lotes-dividir>
<ngx-lotes-imagen></ngx-lotes-imagen>
<p-toast key="bc" [baseZIndex]="3000"></p-toast>
