<p-blockUI [blocked]="bloquearPag" [baseZIndex]="2000">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
  [style]="{width: '1350px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="1000"  (onHide)="btnCerrar()">

  <br>
  <ng-template pTemplate="content">
    <p-fieldset class="col-sm-12" legend=" ">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <label class="label">Cliente</label>
              <div class="p-inputgroup">
                <div class="p-inputgroup">
                  <input pInputText type="text" [disabled]="true" [(ngModel)]="dto.Documento"
                    class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                    style="width:70%; background-color: rgb(247, 247, 208); height: 30px;" />
                  <input pInputText type="text" [disabled]="true" [(ngModel)]="dto.Cliente"
                    class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                    style="width:70%; background-color: rgb(247, 247, 208); height: 30px;" />
                  <div class="input-group-append">
                    <button pButton icon="fad fa-minus-circle" type="button" title="Limpiar" (click)="limpiarCliente()"
                      [disabled]="puedeEditar">
                    </button>
                    <button (click)="verSelector('CLIENTE')" pButton icon="fal fa-search" class="botonbuscar"
                      [disabled]="puedeEditar" type="button" title="Buscar Cliente"></button>
                    <button (click)="crearPersona('CLIENTE')" pButton icon="fal fa-user-plus" class="botonbuscar"
                      [disabled]="puedeEditar" type="button" title="Nuevo Cliente"></button>
                  </div>

                </div>


              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="label">Compañia</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                  <p-dropdown [disabled]="puedeEditar" (onChange)="selectedItemcompania($event)"
                    [style]="{'width':'100%','text-transform': 'uppercase', 'background-color':'rgb(247, 247, 208)'}"
                    [(ngModel)]="dto.CompaniaCodigo" [options]="lstCompania" class="tablaCompletaIzquieda">
                  </p-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="label">Sucursal</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                  <p-dropdown [(ngModel)]="dto.IdSede" [options]="lstSucursal" [disabled]="puedeEditar"
                    [style]="{'width':'100%','text-transform': 'uppercase', 'background-color':'rgb(247, 247, 208)'}"
                    (onChange)="cargarComboPrograma(dto.IdSede)" class="tablaCompletaIzquieda"></p-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="label">Programa</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                  <p-dropdown [(ngModel)]="dto.IdProyecto" [options]="lstPrograma" class="tablaCompletaIzquieda"
                    [style]="{'width':'100%','text-transform': 'uppercase', 'background-color':'rgb(247, 247, 208)'}"
                    [disabled]="puedeEditar" (onChange)="selectedItemPrograma($event)"></p-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Manzana</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                  <p-dropdown [disabled]="puedeEditar" [options]="lstManzana" [(ngModel)]="dto.IdManzana"
                    [style]="{'width':'100%','text-transform': 'uppercase', 'background-color':'rgb(247, 247, 208)'}"
                    (onChange)="selectedItemManzana($event)" class="tablaCompletaIzquieda"> </p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Lote</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                  <p-dropdown [disabled]="puedeEditar" [options]="lstLote" [(ngModel)]="dto.IdLote"
                    [style]="{'width':'100%','text-transform': 'uppercase', 'background-color':'rgb(247, 247, 208)'}"
                    (onChange)="selectedItemLote($event)" class="tablaCompletaIzquieda"> </p-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label class="label">Fecha Inicio</label>
              <p-calendar [disabled]="true" [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}"
                [inputStyle]="{'width':'100%'}" yearRange="1940:2200" [locale]="es" [maxDate]="maxDate"
                [(ngModel)]="dto.FechaInicial" dateFormat="dd/mm/yy" [showIcon]="true">
              </p-calendar>
            </div>
            <div class="col-sm-6">
              <label class="label">Fecha Fin</label>
              <p-calendar [monthNavigator]="true" [disabled]="puedeEditar" [yearNavigator]="true"
                [style]="{'width':'100%','text-transform': 'uppercase'}"
                [inputStyle]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}" yearRange="1940:2200"
                [locale]="es" [minDate]="minDateFin" [(ngModel)]="dto.FechaFinal" dateFormat="dd/mm/yy"
                [showIcon]="true">
              </p-calendar>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Área Total</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-minus"></i></span>
                  <p-inputNumber [disabled]="true" mode="decimal" [(ngModel)]="dto.Diametro"
                    [inputStyle]="{'width':'100%','text-align': 'right'}" [maxFractionDigits]="2"
                    [minFractionDigits]="2">
                  </p-inputNumber>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Valor</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi  pi-money-bill"></i></span>
                  <p-inputNumber [disabled]="true" mode="decimal" [(ngModel)]="dto.Valor"
                    [inputStyle]="{'width':'100%','text-align': 'right'}" [maxFractionDigits]="2"
                    [minFractionDigits]="2">
                  </p-inputNumber>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="label">Costo Total</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi  pi-money-bill"></i></span>
                  <p-inputNumber [disabled]="true" mode="decimal" [(ngModel)]="dto.CostoTotal"
                    [inputStyle]="{'width':'100%','text-align': 'right'}" [maxFractionDigits]="2"
                    [minFractionDigits]="2">
                  </p-inputNumber>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <label class="label">Promotor de Ventas</label>
              <div class="p-inputgroup">
                <div class="p-inputgroup">
                  <input pInputText type="text" [disabled]="true" [(ngModel)]="dto.DocumentoVen"
                    class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                    style="width:70%;  height: 30px;" />
                  <input pInputText type="text" [disabled]="true" [(ngModel)]="dto.Vendedor"
                    class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                    style="width:70%;  height: 30px;" />
                  <div class="input-group-append">
                    <button pButton icon="fad fa-minus-circle" type="button" title="Limpiar" (click)="limpiarPromotor()"
                      [disabled]="puedeEditar">
                    </button>
                    <button (click)="verPromotor('PROMOTOR')" pButton icon="fal fa-search" class="botonbuscar"
                      [disabled]="puedeEditar" type="but.ton" title="Buscar Promotor"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Tipo de Pago</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                  <p-dropdown [disabled]="puedeEditar" class="tablaCompletaIzquieda" [options]="lstTipoPago"
                    [(ngModel)]="dto.TipoPago" (onChange)="validarTipoPago()"
                    [style]="{'width':'100%','text-transform': 'uppercase', 'background-color':'rgb(247, 247, 208)'}">
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Banco</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                  <p-dropdown [disabled]="disabledBanco" class="tablaCompletaIzquieda" [options]="lstBanco"
                    (onChange)="cuentaBancaria()" [(ngModel)]="dto.Banco"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Cuenta bancaria</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                  <p-dropdown [disabled]="disabledBanco" class="tablaCompletaIzquieda" [options]="lstcuentaBancaria"
                    (onChange)="selectMoneda()" [(ngModel)]="dto.CuentaBancaria"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"> </p-dropdown>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Moneda</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                  <p-dropdown [options]="lstMoneda" [disabled]="true" class="tablaCompletaIzquieda"
                    [(ngModel)]="dto.MonedaCodigo"
                    [style]="{'width':'100%','text-transform': 'uppercase', 'background-color':'rgb(247, 247, 208)'}"></p-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Referencia</label>
                <div class="p-inputgroup">
                  <input pInputText type="text" [disabled]="puedeEditar" [(ngModel)]="dto.Descripcion"
                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition" style="width:100%;" />
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Monto Separación</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi  pi-money-bill"></i></span>
                  <p-inputNumber mode="decimal" [(ngModel)]="dto.ValorSeparacion" [disabled]="puedeEditar"
                    [inputStyle]="{'width':'100%','text-align': 'right', 'background-color':'rgb(247, 247, 208)'}" [maxFractionDigits]="2"
                    [minFractionDigits]="2">
                  </p-inputNumber>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="label">Estado Reserva</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                  <p-dropdown [options]="lstEstadoReserva" [disabled]="true" class="tablaCompletaIzquieda"
                    [(ngModel)]="dto.Estado"
                    [style]="{'width':'100%','text-transform': 'uppercase', 'background-color':'rgb(247, 247, 208)'}"></p-dropdown>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <label class="label">Observacion</label>
                </div>
                <div class="col-sm-12">
                  <input pInputText type="text"
                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                    [(ngModel)]="dto.Observacion" style="width:100%;" [disabled]="puedeEditar" />
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-3">
              <div class="row">
                <div class="col-sm-12">
                  <label class="label">Monto Inicial</label>
                </div>
                <div class="col-sm-12">
                  <input pInputText type="text"
                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                    [(ngModel)]="dto.CuotaInicial" style="width:100%;" [disabled]="true" />
                </div>
              </div>
            </div> -->
          </div>

        </div>
      </div>


    </p-fieldset>
    <br>
    <div class="row">
      <p-fieldset class="col-sm-12" legend="Auditoria">
        <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
          [modificacionFecha]="fechaModificacion"></ngx-auditoria>
      </p-fieldset>
    </div>
    <!--Botón-->

    <br>
    <ngx-persona-buscar></ngx-persona-buscar>
    <ngx-persona-mantenimiento></ngx-persona-mantenimiento>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar"
      (click)="coreGuardar()" type="submit"></p-button>
    <p-button label="Cancelar" icon="pi pi-minus-circle" styleClass="p-button-primary" [disabled]="puedeEditar"
      (click)="coreSalir()" type="submit"></p-button>

  </ng-template>
</p-dialog>


<p-toast key="mr" [baseZIndex]="3000"></p-toast>