<p-dialog header="{{accion | titlecase}} {{ breadcrumb | titlecase}}" [modal]="true" [closable]="!barraBusqueda"
    [(visible)]="visualizarForm" [position]="position" [styleClass]="'md:w-6 w-11'" [maximizable]="true">

    <p-progressbar mode="indeterminate" class="mb-0 mt-0" [style]="{ height: '1px' }" *ngIf="barraBusqueda" />
    <div class="flex flex-wrap gap-2">
        <p-fieldset legend="Datos Generales" class="col-12">
            <form class="flex flex-wrap" [formGroup]="mantenimientoForm" (ngSubmit)="btnAccionForm()">
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Compañia <span class="font-semibold text-red-500">*</span></label>
                    <p-dropdown appendTo="body" [options]="lstEstados" optionLabel="descripcion" optionValue="codigo"
                        placeholder="Seleccione una opción" formControlName="estado"></p-dropdown>
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Descripción <span class="font-semibold text-red-500">*</span></label>
                    <input pInputText id="name1" placeholder="Ingrese nombre de aplicativo" type="text"
                        formControlName="nombreAplicativo" />
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Gerente <span class="font-semibold text-red-500">*</span></label>
                    <input pInputText id="name1" placeholder="Obligatorio" type="text" formControlName="descripcion" />
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Estado <span class="font-semibold text-red-500">*</span></label>
                    <p-dropdown appendTo="body" [options]="lstEstados" optionLabel="descripcion" optionValue="codigo"
                        placeholder="Seleccione una opción" formControlName="estado"></p-dropdown>
                </div>
            </form>
        </p-fieldset>
        <div class="flex flex-wrap md:flex-nowrap col-12 gap-2">
            <p-fieldset legend="Asignación De Responsables" class="md:col-6 col-12 ">

                <p-table [value]="[]" [selectionPageOnly]="false" [paginator]="false" styleClass="p-datatable-gridlines"
                    [rows]="cntRegistros" [rowHover]="true" selectionMode="single"  dataKey="id"
                    editMode="row" responsiveLayout="scroll" [resizableColumns]="true" [scrollable]="true"
                    scrollDirection="horizontal" [scrollHeight]="'auto'">
                    <ng-template #header>
                        <tr>
                            <th class="w-1">Acciones</th>
                            <th>Nro</th>
                            <th>Encargado</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-data let-editing="editing" let-ri="rowIndex">

                    </ng-template>
                    <ng-template #footer>
                        <p-button  title="Agregar línea" icon="pi pi-plus" text />
                    </ng-template>
                </p-table>
            </p-fieldset>
            <p-fieldset legend="Asignación De Aplicativos" class="md:col-6 col-12 ">
                <p-table [value]="[]" [selectionPageOnly]="false" [paginator]="false" styleClass="p-datatable-gridlines"
                    [rows]="cntRegistros" [rowHover]="true" selectionMode="single" dataKey="id"
                    editMode="row" responsiveLayout="scroll" [resizableColumns]="true" [scrollable]="true"
                    scrollDirection="horizontal" [scrollHeight]="'auto'">
                    <ng-template #header>
                        <tr>
                            <th class="w-1">Acciones</th>
                            <th>Nro</th>
                            <th>Aplicativo</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-data let-editing="editing" let-ri="rowIndex">

                    </ng-template>
                    <ng-template #footer>
                        <p-button title="Agregar línea" icon="pi pi-plus" text />
                    </ng-template>
                </p-table>
            </p-fieldset>
        </div>
    </div>

    <div class="flex flex-wrap justify-content-between">
        <p-fieldset [styleClass]="'font-bold'" legend="Log de modificaciones" *ngIf="visualizarLogMoficaciones">
            <div class="flex flex-column">
                <div class="flex">
                    <p-avatar label="P" styleClass="mr-2" size="large" shape="circle" />
                    <div class="w-11 ml-1">
                        <div class="text-400">Nota de <strong class="text-blue-700">Administrator</strong> - hace 4
                            días
                        </div>
                        <div class="font-medium"><strong class="font-bold">Se agregó un nuevo misceláneo:</strong>
                            Sucursal - SEG - Clínica el golf <strong class="font-bold">Fecha y hora:</strong>
                            2025-04-07
                            12:34:04</div>
                    </div>
                </div>
                <p-divider align="center" type="dotted">
                    <b>28 de enero de 2025</b>
                </p-divider>
            </div>
        </p-fieldset>
    </div>
    <ng-template #footer>

        <div class="gap-2">
            <p-button icon="pi pi-users" severity="secondary" class="mr-2" label="{{'Auditoria' | titlecase}}" raised
                *ngIf="accion != 'AGREGAR'" (onClick)="btnLogAuditoria()" />
            <p-button
                icon="pi {{!bloquearComponente ?  accion == 'AGREGAR' ? 'pi-plus':'pi-pencil': 'pi-spin pi-spinner' }}"
                class="ml-2" label="{{accion | titlecase}}" raised *ngIf="accion != 'VER'"
                (onClick)="btnAccionForm()" />
        </div>
    </ng-template>
</p-dialog>