<nb-card>
    <p-dialog [(visible)]="verCajapago" [draggable]="false" [modal]="true" [resizable]="false"
        [breakpoints]="{'1050px': '75vw'}" [style]="{width: '1150px'}" [header]="acciones" [position]="position"
        [maximizable]="true" [baseZIndex]="10000">
        <ng-template pTemplate="content">
            <br>
            <p-fieldset legend="Documento">
                <div class="row" style="padding: 10px;">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Cliente</label>
                            <div class="p-inputgroup">
                                <input pInputText type="text"
                                    class="hoverDisabled  size-large  col-4 status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px" />&nbsp;
                                <input pInputText type="text" disabled
                                    class="hoverDisabled  size-medium col-8 status-basic shape-rectangle nb-transition"
                                    style="width:100%; height:30px" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline" type="button" id="button-addon2"
                                        style=" height:30px; margin-left:-32px">x</button>
                                </div>
                                <button pButton icon="fa fa-search" class="botonbuscar" type="button"
                                    title="Buscar Paciente"></button>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputLastName" class="label">N° Petición</label>
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Tipo Comprobante</label>
                            <p-dropdown placeholder="BOLETA DE VENTA"
                                [style]="{'background-color':'rgb(247, 247, 208)'}" [filter]="true">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Moneda</label>
                            <p-dropdown placeholder="Local" [filter]="true">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">N° Comprobante</label>
                            <div class="p-inputgroup">
                                <p-dropdown placeholder="B004"
                                    [style]="{'background-color':'rgb(247, 247, 208)','width':'100%'}" [filter]="true">
                                </p-dropdown>&nbsp;
                                <input pInputText type="text" style="width:100%" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Email</label>
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; background-color: rgb(247, 247, 208); height: 30px;" />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Total(S)</label>
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Saldo</label>
                            <div class="p-inputgroup">
                                <input pInputText type="text"
                                    class="hoverDisabled  size-large status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px" />&nbsp;
                                <button pButton icon="fas fa-money-check-alt" class="botonbuscar" type="button"
                                    title="Estado Cuenta"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Paciente</label>
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Anticipo</label>
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Total $</label>
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Sede</label>
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Cajero</label>
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="label">Fecha de Emision</label>
                            <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}"
                                [inputStyle]="{'width':'100%'}" yearRange="1940:2200" [locale]="es"
                                dateFormat="dd/mm/yy" [showIcon]="true">
                            </p-calendar>
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Monto Pen. de pago</label>
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" [(ngModel)]="MontoPago"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Forma de pago</label>
                            <p-dropdown placeholder="Contado" [style]="{'background-color':'rgb(247, 247, 208)'}"
                                [filter]="true">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">igv</label>
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="label">Fecha de Vencimiento</label>
                            <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}"
                                [inputStyle]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}"
                                yearRange="1940:2200" [locale]="es" dateFormat="dd/mm/yy" [showIcon]="true">
                            </p-calendar>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Retencion</label>
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Detracción</label>
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" />
                        </div>
                    </div>
                </div>
            </p-fieldset>
            <br>
            <div class="row">
                <br>
                <p-fieldset legend="Cobranza T.C. 3.500000" class="col-sm-9 form-group">
                    <div class="row" style="padding: 10px;">
                        <div class="col-sm-12">
                            <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="tipousuario"
                                [responsive]="true" [sortOrder]="1" [showCurrentPageReport]="true"
                                [style]="{ width: '100%'}" [scrollable]="true" scrollHeight="200px">

                                <ng-template pTemplate="colgroup">
                                    <colgroup>
                                        <col style="width:40px">
                                    </colgroup>
                                </ng-template>

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="label" style="width: 5rem;">ID</th>

                                        <th class="label" style="width: 5rem;">Tipo Pago

                                        </th>
                                        <th class="label" style="width: 5rem;">Moneda

                                        </th>
                                        <th class="label" style="width: 5rem;">Banco
                                        </th>
                                        <th class="label" style="width: 5rem;">Referencia

                                        </th>
                                        <th class="label" style="width: 5rem;">Importe

                                        </th>
                                        <th class="label" style="width: 5rem;">Acción

                                        </th>
                                        <th class="label" style="width: 5rem;">Delete

                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">

                                        </td>

                                        <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">


                                        </td>

                                        <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">


                                        </td>
                                        <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">


                                        </td>
                                        <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">


                                        </td>
                                        <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">


                                        </td>
                                        <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">


                                        </td>
                                        <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">


                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Afecto</label>
                                <input pInputText type="text"
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px;" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Exon</label>
                                <input pInputText type="text"
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px;" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="inputLastName" class="label">IGV</label>
                                <input pInputText type="text"
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px;" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Total S/.</label>
                                <input pInputText type="text" placeholder="0.00"
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px;" />
                            </div>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Efectivo" class="col-sm-3 form-group">
                    <div class="row" style="padding: 10px;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="inputLastName" class="label"></label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="inputLastName" class="label col-sm-6">Soles </label>
                                <label for="inputLastName" class="label col-sm-6">Dolares</label>
                                <div class="p-inputgroup">
                                    <input pInputText type="text"(keydown)="validarTeclaEnter($event)" [(ngModel)]="cantidadSoles"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:100%; height: 30px;"/>&nbsp;
                                    <input pInputText type="text"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:100%; height: 30px;"/>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Soles</label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <div class="p-inputgroup">
                                    <input pInputText type="text" placeholder="0.00" [(ngModel)]="valorSoles"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:100%; height: 30px;" />&nbsp;
                                    <input pInputText type="text" placeholder="0.00"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:100%; height: 30px;" />
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Dolares</label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <div class="p-inputgroup">
                                    <input pInputText type="text" placeholder="0.00"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:100%; height: 30px;" />&nbsp;
                                    <input pInputText type="text" placeholder="0.00"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:100%; height: 30px;" />
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Total Efectivo S/.</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input pInputText type="text" placeholder="0.00" [(ngModel)]="totalEfectivo"
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px;" />
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Vuelto S/.</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input pInputText type="text"
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px;" [(ngModel)]="vueltoEfectivo"/>
                            </div>
                        </div>
                        <button style="color: #2B4E64; padding: 0px;" class="col button btn"
                            [disabled]="disableBtnGuardar"><img src="assets/img/guardar.ico" style="filter: drop-shadow(5px 5px 7px #444);width: 30%;
                            flex: 0 0 30%;max-width: 30%;"></button>
                        <button style="color: #2B4E64; padding: 0px;" class="col button btn"
                            [disabled]="disableBtnGuardar"><img src="assets/img/imprimir.ico" style="filter: drop-shadow(5px 5px 7px #444);width: 30%;
                            flex: 0 0 30%;max-width: 30%;"></button>
                        <button style="color: #2B4E64; padding: 0px;" class="col button btn"
                            [disabled]="disableBtnGuardar"><img src="assets/img/remove.ico" style="filter: drop-shadow(5px 5px 7px #444);width: 30%;
                            flex: 0 0 30%;max-width: 30%;"></button>
                    </div>
                </p-fieldset>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar"
                type="submit"></p-button>
        </ng-template>

    </p-dialog>
</nb-card>
<p-toast></p-toast>