<div class="card">
    <div class="w-full flex flex-nowrap ">
        <h4 class="w-12 ml-2 mb-0 text-2xl font-bold"> {{accion | titlecase}} {{ breadcrumb | titlecase}} </h4>
        <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="secondary"
            (onClick)="btnMantenimientoFormulario()" />
    </div>

    <form class="flex flex-wrap md:flex-nowrap gap-2" [formGroup]="mantenimientoForm" >
        <p-fieldset legend="Datos De Usuario" class="col-3">
            <section class="flex flex-wrap">
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Nro. Documento <span class="font-semibold text-red-500">*</span></label>
                    <p-autocomplete formControlName="empleadoBusqueda" [suggestions]="lstUsuariosBusqueda"
                        placeholder="Ingrese un Nro de documento"
                        (completeMethod)="btnBuscarEmpleado('empleadoBusqueda')" field="visible" [dropdown]="false"
                        (onSelect)="onEmpleadoSeleccionado($event)" />
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Nombres <span class="font-semibold text-red-500">*</span></label>
                    <input pInputText id="name1" placeholder="Ingrese nombre" type="text"
                        formControlName="NOMBRECOMPLETO" />
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Usuario <span class="font-semibold text-red-500">*</span></label>
                    <input pInputText id="name1" type="text" />

                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Usuario AD <span class="font-semibold text-red-500">*</span></label>
                    <input pInputText id="name1" type="text" />
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Tipo Usuario <span class="font-semibold text-red-500">*</span></label>
                    <p-dropdown appendTo="body" [options]="lstEstados" optionLabel="descripcion" optionValue="codigo"
                        formControlName="TipoUsuario" placeholder="Seleccione una opción"></p-dropdown>
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Correo Electrónico <span class="font-semibold text-red-500">*</span></label>
                    <input pInputText id="name1" type="text" formControlName="CorreoElectronico" />
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="expiraPass"><p-checkbox value="S" inputId="expiraPass"
                            formControlName="ExpirarPasswordFlag" />
                        ¿Expirar Contraseña?
                    </label>
                    <p-datepicker appendTo="body" formControlName="FechaExpiracion" [styleClass]="'col-12 p-0'"
                        [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                        *ngIf="mantenimientoForm.get('ExpirarPasswordFlag')?.value == 'S'" />
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Contraseña <span class="font-semibold text-red-500">*</span></label>
                    <input pInputText id="name1" type="text" formControlName="Clave" />
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Confirmar Contraseña <span class="font-semibold text-red-500">*</span></label>
                    <input pInputText id="name1" type="text" formControlName="contraseniaConfirmacion" />
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
                    <label for="name1">Estado <span class="font-semibold text-red-500">*</span></label>
                    <p-dropdown appendTo="body" [options]="lstEstados" optionLabel="descripcion" optionValue="ESTADO"
                        formControlName="ESTADO" placeholder="Seleccione una opción"></p-dropdown>
                </div>
            </section>
        </p-fieldset>
        <p-fieldset legend="Asignación De Perfil" class="col-9">
            <section class="flex flex-wrap">
                <div class="col-9">
                    <p-table [value]="optDetallePerfiles.controls" [selectionPageOnly]="false" [paginator]="true"
                        styleClass="p-datatable-gridlines" [showCurrentPageReport]="true" [rowHover]="true"
                        [paginator]="true" selectionMode="single" showGridlines class="w-12"
                        [tableStyle]="{'min-width': '50rem' }"
                        currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros" dataKey="id"
                        editMode="row" responsiveLayout="scroll" [showCurrentPageReport]="true"
                        [resizableColumns]="true" [rowsPerPageOptions]="[ 5,10, 25, 50]" [scrollable]="true"
                        scrollDirection="horizontal" [scrollHeight]="'auto'">
                        <ng-template #header>
                            <tr>
                                <th class="w-1">Acciones</th>
                                <th>Nro</th>
                                <th>Compañia</th>
                                <th>Sucursal</th>
                                <th>Gerencia</th>
                                <th>Centro De Costo</th>
                                <th>Perfil</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-data let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="data">
                                <td>
                                    <div class="flex items-center justify-center gap-2">
                                        <p-button *ngIf="!editing" pButton pRipple type="button" severity="danger"
                                            icon="pi pi-minus" text rounded title="Eliminar perfil"
                                            (onClick)="btnEliminarYReordenarDetallePerfiles(data.value.uuidv4)"></p-button>
                                        <p-button *ngIf="!editing" pButton pRipple type="button" severity="info"
                                            icon="pi pi-search" text rounded title="Visualizar aplicativos de perfil"
                                            (onClick)="btnVisualizarPerfil(data)"></p-button>
                                        <!-- <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                            severity="success" icon="pi pi-pencil" text rounded></button>
                                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                            icon="pi pi-check" text rounded severity="success"></button>
                                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                            icon="pi pi-times" text rounded severity="warn"></button> -->
                                    </div>
                                </td>
                                <td [pEditableColumn]="data.value.ordenVista" pEditableColumnField="ordenVista">
                                    <p-cellEditor>
                                        <ng-template #input>
                                            {{data.value.ordenVista}}
                                        </ng-template>
                                        <ng-template #output>
                                            {{data.value.ordenVista}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td [pEditableColumn]="data.value.companiaCod" pEditableColumnField="companiaCod">
                                    <p-cellEditor>
                                        <ng-template #input>
                                            <p-select placeholder="Seleccione" [options]="lstCompanias" appendTo="body"
                                                optionLabel="descripcion" optionValue="codigo"
                                                (onChange)="onAsignarDescripcionDetalle($event, data,'COMPANIA')"
                                                formControlName="companiaCod" [style]="{'width':'100%', }" />
                                        </ng-template>
                                        <ng-template #output>
                                            {{data.value.companiaNom}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td [pEditableColumn]="data.value.sucursalCod" pEditableColumnField="sucursalCod">
                                    <p-cellEditor>
                                        <ng-template #input>
                                            <p-select placeholder="Seleccione" [options]="lstEstados" appendTo="body"
                                                optionLabel="descripcion" optionValue="codigo"
                                                (onChange)="onAsignarDescripcionDetalle($event, data,'SUCURSAL')"
                                                formControlName="sucursalCod" [style]="{'width':'100%'}" />
                                        </ng-template>
                                        <ng-template #output>
                                            {{data.value.sucursalNom}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td [pEditableColumn]="data.value.gerenciaCod" pEditableColumnField="gerenciaCod">
                                    <p-cellEditor>
                                        <ng-template #input>
                                            <p-select placeholder="Seleccione" [options]="lstEstados" appendTo="body"
                                                optionLabel="descripcion" optionValue="codigo"
                                                (onChange)="onAsignarDescripcionDetalle($event, data,'GERENCIA')"
                                                formControlName="gerenciaCod" [style]="{'width':'100%'}" />
                                        </ng-template>
                                        <ng-template #output>
                                            {{data.value.gerenciaNom}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td [pEditableColumn]="data.value.centroCostoCod" pEditableColumnField="centroCostoCod">
                                    <p-cellEditor>
                                        <ng-template #input>
                                            <p-select placeholder="Seleccione" [options]="lstEstados" appendTo="body"
                                                optionLabel="descripcion" optionValue="codigo"
                                                (onChange)="onAsignarDescripcionDetalle($event, data,'CENTROCOSTO')"
                                                formControlName="centroCostoCod" [style]="{'width':'100%'}" />
                                        </ng-template>
                                        <ng-template #output>
                                            {{data.value.centroCostoNom}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td [pEditableColumn]="data.value.perfilCod" pEditableColumnField="perfilCod">
                                    <p-cellEditor>
                                        <ng-template #input>
                                            <p-select placeholder="Seleccione" [options]="lstEstados" appendTo="body"
                                                optionLabel="descripcion" optionValue="codigo"
                                                (onChange)="onAsignarDescripcionDetalle($event, data,'PERFIL')"
                                                formControlName="perfilCod" [style]="{'width':'100%'}" />
                                        </ng-template>
                                        <ng-template #output>
                                            {{data.value.perfilNom}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #paginatorleft>
                            <p-button label="Agregar línea" icon="pi pi-plus" text
                                (onClick)="btnAgregarLineaDetallePerfiles()" />
                        </ng-template>
                    </p-table>
                </div>
                <div class=" col-3 div-accesos-perfil">
                    <p-tree [value]="perfilSeleccionadoVisualizar.data" styleClass="w-full" class="w-12">
                        <ng-template let-node #header>
                            <div class="w-12 flex justify-content-left ">
                                <p class="flex flex-nowrap justify-content-between">
                                    <span class="header-label ">Accesos del Perfil:
                                        <span class="text-green-500 font-bold">
                                            {{perfilSeleccionadoVisualizar.nombrePerfil}}
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <hr>
                        </ng-template>
                        <ng-template let-node pTemplate="empty">
                            <div class=" w-12 flex justify-content-center align-items-top   ">
                                <p class="flex flex-nowrap justify-content-between  w-10  ">
                                    <span class="header-label ">Seleccione un perfil asignado...</span>
                                </p>
                            </div>
                        </ng-template>
                    </p-tree>
                </div>
            </section>
        </p-fieldset>
    </form>

    <div class="w-full flex flex-nowrap justify-content-left gap-2">
        <p-button
            icon="pi {{!bloquearComponente ?  accion == 'AGREGAR' ? 'pi-plus':'pi-pencil': 'pi-spin pi-spinner' }}"
            class="ml-2" label="{{accion | titlecase}}" raised *ngIf="accion != 'VER'" (onClick)="btnConfirmarGuardarMantenimiento($event)" />

        <p-button icon="pi pi-users" severity="secondary" class="mr-2" label="{{'Auditoria' | titlecase}}" raised
            *ngIf="accion != 'AGREGAR'" (onClick)="btnLogAuditoria()" />
    </div>
</div>

<p-confirmdialog key="confirmarRegistroMantenimiento" />