<!-- <p-dialog [(visible)]="true" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{'width': '1350px'}" [header]="'Imprimir'" [position]="'top'" [maximizable]="true" [baseZIndex]="1000">
<ng-template pTemplate="content">

  <body id="letra">
    <div class="content" style="font-size: 23px;">
      <div class="cabecera">
        <div class="cabecera-1">1/160</div>
        <div class="cabecera-2">
          <div class="">
            Los Olivos
          </div>
          <div class="">
            12/02/2023
          </div>
          <div class="">
            12/03/2023
          </div>
          <div class="">
            $ 356.00
          </div>
        </div>
      </div>
      <div class="cantidad">
        TRESCIENTOS CINCUENTA Y SEIS CON 00/100 DOLARES AMERICANOS
      </div>
      <div class="detalles">
        <div class="det-1">
          <div class="col-6">
            GERARDO MARTIN LANCHO SERON - 45138949
          </div>
        </div>
        <div class="det-2">
          <div class="col-6">
            ANNIE WENDY ESCOBAR CHIGUALA - 76517114
          </div>
        </div>
        <div class="det-3">
          <p>JIRÓN MONTERO ROSAS 1325 URBANIZACIÓN SANTA BEATRIZ.</p>
        </div>
        <div class="det-4">
          <span>LIMA</span>
        </div>
      </div>


    </div>
  </body>
</ng-template>
</p-dialog> -->
