<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'1050px': '75vw'}"
    [style]="{width: '750px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="10000">

    <ng-template pTemplate="content">
        <br>

        <p-fieldset legend="Registros Asignados">
            <div class="row" style="padding: 15px;">
                <div class="col-sm-6">
                    <label for="inputLastName" class="label">Cliente</label>
                    <div class="p-inputgroup">
                        <div class="p-inputgroup">
                            <input pInputText type="text" (keydown)="validarTeclaEnterEmpresaAseguradora($event)"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:70%; background-color: rgb(247, 247, 208); height: 30px;"
                                [(ngModel)]="filtro.Documento" [disabled]="editarCampoEmpresa" />
                            &nbsp;
                            <input pInputText type="text"
                                class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                style="width:130%; background-color: rgb(247, 247, 208); height: 30px;"
                                [(ngModel)]="filtro.NombreCompleto" [disabled]="true" />

                            <div class="input-group-append">
                                <button class="btn btn-outline" type="button" id="button-addon2"
                                    style=" height:30px; margin-left:-32px" (click)="limpiarEmpresa()"
                                    [disabled]="editarCampos">x</button>
                            </div>
                        </div>

                        <button (click)="verSelectorEmpresa()" pButton icon="fa fa-search" class="botonbuscar"
                            type="button" title="Buscar Empresa" [disabled]="editarCampos"></button>
                        <button (click)="crearPersona()" pButton icon="fa fa-user-plus" class="botonbuscar"
                            type="button" title="Nueva Empresa" [disabled]="editarCampos"></button>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Examen</label>
                        <input pInputText type="text" placeholder="" style="width:100%; height: 30px;" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Homologación</label>
                        <input pInputText type="text" placeholder=""
                            style="width:100%; background-color: rgb(247, 247, 208); height: 30px;" />
                    </div>
                </div>
            </div>
            <br>
            <div class="col">
                <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="tipousuario" [responsive]="true"
                    [sortOrder]="1" sortField=""
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                    [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="200px" [style]="{ width: '100%'}"
                    [rowsPerPageOptions]="[15,30,50]">

                    <ng-template pTemplate="colgroup">
                        <colgroup>
                            <col style="width:45px">
                        </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th class="label" style="width: 3rem;" pSortableColumn="numeroempresa">N°<p-sortIcon
                                    field="numeroempresa">
                                </p-sortIcon>
                            </th>
                            <th class="label" style="width: 10rem;" pSortableColumn="Persona">Cliente<p-sortIcon
                                    field="Persona">
                                </p-sortIcon>
                            </th>

                            <th class="label" style="width: 8rem;" pSortableColumn="NombreCompleto">Homologación
                                <p-sortIcon field="NombreCompleto">
                                </p-sortIcon>
                            </th>

                            <th class="label" style="width: 5rem;" pSortableColumn="Documento">Seleccione<p-sortIcon
                                    field="Documento">
                                </p-sortIcon>
                            </th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">

                        <tr>
                            <!-- <tr [pSelectableRow]="rowData"> -->

                            <td class="tablaColumnaCodigoChico" style="width: 3rem;" ALIGN="center"></td>

                            <td class="tablaColumnaCodigoChico" style="width: 10rem;" ALIGN="center"></td>

                            <td class="tablaColumnaCodigoChico" style="width: 8rem;" ALIGN="center"></td>


                            <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center"></td>


                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-fieldset>

        <!-- <p-fieldset legend="Auditoria">
                <ngx-auditoria></ngx-auditoria>
            </p-fieldset> -->


    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Nuevo" icon="fas fa-eraser" styleClass="p-button-primary" type="submit"
            (click)="saveProduct($event)" [disabled]="editarCampos"></p-button>
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" type="submit"
            (click)="saveProduct($event)" [disabled]="editarCampos"></p-button>
    </ng-template>


</p-dialog>
<ngx-empresa-buscar></ngx-empresa-buscar>