<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '1500px', minWidth: '200px'}" [header]="acciones" [position]="position" [maximizable]="true"
    [baseZIndex]="10000">

    <ng-template pTemplate="content">
        <br>
        <div class="row">
            <br>
            <p-fieldset legend="Muestras" class="col-sm-5 form-group">
                <div class="row" style="padding: 15px;">
                    <div class="col-sm-4">
                        <label for="inputLastName" class="label">Muestra</label>
                        <input pInputText type="text" style="width:100%; height: 30px;" />
                    </div>
                    <div class="col-sm-4">
                        <label for="inputLastName" class="label">Id</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" style="width:100%; height: 30px;" />
                            <button pButton icon="fa fa-binoculars" type="button" title="Buscar"></button>
                        </div>
                    </div>
                </div>

                <br>
                <div class="col">
                    <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" [responsive]="true" [sortOrder]="1"
                        sortField="numeroExamen"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                        [showCurrentPageReport]="true" selectionMode="single" selectionMode="multiple"
                        [scrollable]="true" scrollHeight="200px" [style]="{width:'100%'}"
                        [rowsPerPageOptions]="[15,30,50]">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:50px">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>

                                <th style="width: 5rem;" class="label" pSortableColumn="numeroExamen">Id<p-sortIcon
                                        field="numeroExamen">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 10rem;" class="label" pSortableColumn="CodigoComponente">Muestra
                                    <p-sortIcon field="CodigoComponente">
                                    </p-sortIcon>
                                </th>

                                <th style="width: 5rem;" class="label" pSortableColumn="Descripcion">Cantidad<p-sortIcon
                                        field="Descripcion">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 2.25em">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>


                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr>
                                <!-- <tr (dblclick)="ondobleRowDblclick(rowData)"> -->


                                <td style="width: 5rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                                </td>

                                <td style="width: 10rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                                </td>

                                <td style="width: 5rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                                </td>

                                <td style="width: 2.25em">
                                    <p-tableCheckbox></p-tableCheckbox>
                                    <!-- <p-tableCheckbox [value]="rowData"></p-tableCheckbox> -->
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-fieldset>
            <br>
            <div class="col-sm-1" style="text-align: center">
                <!-- <br> <br> <br> <br> <br> <br> <br> -->
                <!-- <div class="row" aria-orientation="vertical"> -->
                <!-- <br>
                    <button style="color: #2B4E64; padding: 0px;" class="col button btn"
                        title="Agregar Servicio(s)"><img src="assets/img/next.ico" style="filter: drop-shadow(5px 5px 7px #444); width: 30%;
                        flex: 0 0 30%;max-width: 30%;"><br><label style="font-size: 12px;font-weight: bold">Agregar
                            Servicio(s)</label></button>
                    <br>
                    <button style="color: #2B4E64; padding: 0px;" class="col button btn" title="Quitar Servicio(s)"><img
                            src="assets/img/back.ico" style="filter: drop-shadow(5px 5px 7px #444); width: 30%;
                        flex: 0 0 30%;max-width: 30%;"><br><label style="font-size: 12px;font-weight: bold">Quitar
                            Servicio(s)</label></button>
                    <br> -->
                <br> <br> <br> <br> <br> <br> <br>
                <button pButton label=">>" type="button" title="Agregar Servicio(s)"></button>
                <br> <br>
                <button pButton label="<<" type="button" title="Quitar Servicio(s)"></button>
                <!-- </div> -->
            </div>
            <p-fieldset legend="Muestras Asignadas" class="col-sm-6 form-group">
                <div class="row" style="padding: 15px;">
                    <div class="col-sm-4">
                        <label for="inputLastName" class="label">Examen</label>
                        <input pInputText type="text" style="width:100%; height: 30px;" />
                    </div>
                    <div class="col-sm-4">
                        <label for="inputLastName" class="label">Abreviatura</label>
                        <input pInputText type="text" style="width:100%; height: 30px;" />
                    </div>
                    <div class="col-sm-4">
                        <label for="inputLastName" class="label">Cantidad</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" style="width:100%; height: 30px;" />
                            <button pButton icon="fa fa-binoculars" type="button" title="Buscar"></button>
                        </div>
                    </div>
                </div>

                <br>
                <div class="col">
                    <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" [responsive]="true" [sortOrder]="1"
                        sortField="numeroExamen"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                        [showCurrentPageReport]="true" selectionMode="single" selectionMode="multiple"
                        [scrollable]="true" scrollHeight="200px" [style]="{width:'100%'}"
                        [rowsPerPageOptions]="[15,30,50]">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:50px">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 2.25em">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th style="width: 5rem;" class="label" pSortableColumn="numeroExamen">Id<p-sortIcon
                                        field="numeroExamen">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 10rem;" class="label" pSortableColumn="CodigoComponente">Muestra
                                    <p-sortIcon field="CodigoComponente">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 10rem;" class="label" pSortableColumn="CodigoComponente">
                                    Abreviatura
                                    <p-sortIcon field="CodigoComponente">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 5rem;" class="label" pSortableColumn="Descripcion">Cantidad
                                    <p-sortIcon field="Descripcion">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 5rem;" class="label">Edit
                                </th>


                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr>
                                <!-- <tr (dblclick)="ondobleRowDblclick(rowData)"> -->

                                <td style="width: 2.25em">
                                    <p-tableCheckbox></p-tableCheckbox>
                                    <!-- <p-tableCheckbox [value]="rowData"></p-tableCheckbox> -->
                                </td>
                                <td style="width: 5rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                                </td>

                                <td style="width: 10rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                                </td>

                                <td style="width: 5rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                                </td>
                                <td style="width: 5rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-fieldset>

        </div>
        <!-- <p-fieldset legend="Auditoria">
            <ngx-auditoria></ngx-auditoria>
        </p-fieldset> -->
    </ng-template>
    <!-- <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="saveProduct($event)"></p-button>
    </ng-template> -->



    <!-- <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar"
        type="submit"   (click)="saveProduct($event)" ></p-button>
    </ng-template> -->




</p-dialog>
<p-toast></p-toast>