<p-blockUI [blocked]="bloquearPag">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-card>
  <div class="row">
    <div class="col-sm-4">
      <h4 class="titulonuevo">Tipo de Cambio</h4>
    </div>
    <br>
    <br>
    <br>
    <div class="col-sm-2" style="background-color: transparent;"></div>
    <div class="col-sm-6" style="background-color: transparent;" aria-orientation="horizontal">
      <button pButton icon="fa fa-search" type="button" title="Buscar" label="Buscar" class="p-button-secondary"
        (click)="coreBuscar()"></button>
      <button pButton icon="fa fa-file" type="button" title="Nuevo" label="Nuevo" class="p-button-secondary"
        (click)="coreNuevo()"></button>
      <p-splitButton label="Exportar" icon="fa fa-file-pdf" (onClick)="exportExcel()"
        styleClass="p-button-text p-button-secondary" [model]="ltsExportar"></p-splitButton>

    </div>
  </div>

  <p-fieldset legend="Información Consulta" (keyup.enter)="coreBuscar()"> 
    <div class="row" style="padding: 10px;">
      <div class="col-sm-4">
        <label class="label">Fecha Inicial </label>
        <p-calendar class="calendar_size" dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
          [inputStyle]="{'width':'100%'}" [(ngModel)]="filtro.fechacambio" [showIcon]="true" yearRange="2000:2030"
          placeholder='' [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxDate"></p-calendar>
      </div>
      <div class="col-sm-4">
        <label class="label">Fecha Final </label>
        <p-calendar class="calendar_size" dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
          [inputStyle]="{'width':'100%'}" [(ngModel)]="filtro.ultimafechamodif" [showIcon]="true" yearRange="2000:2030"
          placeholder='' [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxDate">
        </p-calendar>
      </div>
      <div class="col-sm-4">
        <label class="label">Estado </label>
        <p-dropdown [options]="lstEstado" [(ngModel)]="filtro.estado"
          [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
      </div>
    </div>
  </p-fieldset>

  <br>

  <p-fieldset legend="Información Consulta">
    <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstMaestroTipoCambio"
      [responsive]="true" [sortOrder]="-1" sortField="FechaCambio" [(selection)]="lstSeleccionadomultiple"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      [rowsPerPageOptions]="[15,30,50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">
      <ng-template pTemplate="header">
        <tr>
          <th class="tablaHeaderCheckBox">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
          <th pSortableColumn="num" class="label" ALIGN="center" style="width: 3rem;  ">Nro <p-sortIcon field="num">
            </p-sortIcon>
          </th>
          <th pSortableColumn="FechaCambio" class="label" ALIGN="center" style="width: 5rem;  ">Fecha<p-sortIcon
              field="FechaCambio">
            </p-sortIcon>
          </th>
          <th pSortableColumn="DesMonedaDE" class="label" ALIGN="center" style="width: 5rem;  ">Moneda DE<p-sortIcon
              field="DesMonedaDE"></p-sortIcon>
          </th>
          <!-- <th pSortableColumn="DesMonedaA" class="label" ALIGN="center" style="width: 5rem;  ">Moneda A<p-sortIcon
              field="DesMonedaA"></p-sortIcon>
          </th> -->
          <th pSortableColumn="FactorVenta" class="label" ALIGN="center" style="width: 5rem;  ">Venta<p-sortIcon
              field="FactorVenta"></p-sortIcon>
          </th>
          <th pSortableColumn="FactorCompra" class="label" ALIGN="center" style="width: 5rem;  ">Compra<p-sortIcon
              field="FactorCompra"></p-sortIcon>
          </th>
          <th pSortableColumn="EstadoDesc" class="label" ALIGN="center" style="width: 5rem;  ">Estado<p-sortIcon
              field="EstadoDesc"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td class="tablaColumnaCheckBox">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td class="tablaColumnaAccion3">
            <span class="p-column-title">Acción</span>
            <table>
              <tr>
                <th>
                  <button pButton pRipple type="button" icon="fad fa-pencil-alt" class="p-button-rounded p-button-text"
                    title="Editar" (click)="coreEditar(rowData)"></button>
                </th>
                <th>
                  <button pButton pRipple type="button" icon="fad fa-search" (click)="coreVer(rowData)"
                    class="p-button-rounded p-button-text" title="Ver"></button>
                </th>
                <th>
                  <button pButton pRipple type="button" icon="fad fa-minus-circle" *ngIf="rowData.Estado == 'A' "
                    (click)="coreinactivar(rowData)" class="p-button-rounded p-button-text" title="Inactivar"></button>
                </th>
              </tr>
            </table>
          </td>
          <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 3rem;">
            <span class="p-column-title">Nro</span>
            <span>{{rowData.num}}</span>
          </td>
          <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
            <span class="p-column-title">Fecha</span>
            {{rowData.FechaCambio | date: 'dd/MM/yyyy'}}
          </td>

          <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
            <span class="p-column-title">Moneda DE</span>
            <span>{{rowData.DesMonedaDE|uppercase}}</span>
          </td>
          <!-- <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
            <span class="p-column-title">Moneda A</span>
            <span>{{rowData.DesMonedaA|uppercase}}</span>
          </td> -->
          <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
            <span class="p-column-title">Venta</span>
            <span>{{rowData.FactorVenta| number:'1.4-4'}}</span>
          </td>
          <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
            <span class="p-column-title">Compra</span>
            <span>{{rowData.FactorCompra| number:'1.4-4'}}</span>
          </td>

          <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
            <span class="p-column-title">Estado</span>
            <span>{{rowData.EstadoDesc|uppercase}}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</p-card>
<ngx-tipo-cambio-mantenimiento></ngx-tipo-cambio-mantenimiento>

<p-confirmDialog #c key="confirm2">
  <p-footer>
    <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
      (click)="c.accept()"></button>
    <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
  </p-footer>
</p-confirmDialog>
<p-toast key="bc" [baseZIndex]="2000"></p-toast>
