<!-- <p-dropdown placeholder="Seleccione"
    [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}"
    [options]="[]" [disabled]="puedeEditar"></p-dropdown> -->
<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '1250px'}" [header]="acciones" [position]="position" [maximizable]="true">
    <br>
    <ng-template pTemplate="content">
        <div class="row">
            <div class="col-sm-12">
                <p-fieldset legend="Mensaje">
                    <div class="row">
                        <div class="col-sm-12" >
                            <label class="label">Responsable:</label>
                            <input pInputText type="text" [disabled]="true" [style]="{'width':'100%'}" [(ngModel)]="filtroProgramacion.Responsable"/>
                        </div>
                        <div class="col-sm-12" >
                            <label class="label">Para:</label>
                            <input pInputText type="text" [disabled]="true" [style]="{'width':'100%'}" [(ngModel)]="filtroProgramacion.Estado"/>
                        </div>
                        <div class="col-sm-12" >
                            <label class="label">Asunto:</label>
                            <input pInputText type="text" [disabled]="true" [style]="{'width':'100%'}" [(ngModel)]="filtroProgramacion.Estado"/>
                        </div>
                        <div class="col-sm-12">
                            <label class="label">Mensaje:</label>
                            <textarea rows="9" [style]="{'width':'100%'}" [disabled]="true" pInputTextarea [(ngModel)]="filtroProgramacion.Estado"
                                [autoResize]="false"></textarea>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>


    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Enviar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreEnviar()"></p-button>
    </ng-template>
</p-dialog>