<div id="hero" class="flex flex-wrap gap-2 pt-6 px-6 lg:px-6 overflow-hidden"
    style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, rgb(196, 239, 175) 0%, rgb(197, 250, 195) 100%); clip-path: ellipse(150% 87% at 93% 13%)">
    <div class="mx-6 md:mx-6 mt-0 md:mt-3 w-9">
        <h1 class="text-6xl font-bold text-gray-900 leading-tight"><span class="font-light block">
            Plataforma Web </span> Gestión De Perfiles</h1>
        <!-- <button pButton pRipple [rounded]="true" type="bu tton" label="Get Started" class="!text-xl mt-8 !px-4"></button> -->
    </div>
    <div class="flex justify-center md:justify-end mb-5">
        <img src="../assets/portalWeb/images/configuracion/logos/logo-sanna-dashboard.png" alt="Hero Image"
            class="w-9/12 md:w-auto" />
    </div>
</div>