<p-blockUI [blocked]="bloquearPag" [baseZIndex]="9000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-confirmDialog #c key="confirm3" [baseZIndex]="1002">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '850px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="1000"
    (onHide)="btnCerrar()">

    <ng-template pTemplate="content">
        <br>
        <p-fieldset legend="Registro De Egreso">
            <div class="row">
                <div class="col-sm-4">
                    <label class="label">Fecha de registro</label>
                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}" [maxDate]="maxDate"
                        [locale]="es" [disabled]="puedeEditar" dateFormat="dd/mm/yy" [showIcon]="true"
                        [(ngModel)]="egreso.FechaRegistro">
                    </p-calendar>
                </div>
                <div class="col-sm-8">
                    <label class="label">Empleado</label>
                    <div class="p-inputgroup">
                        <div class="p-inputgroup">
                            <input pInputText type="text" [disabled]="true" [(ngModel)]="egreso.Documento"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:70%; background-color: rgb(247, 247, 208); height: 30px;" />
                            &nbsp;
                            <input pInputText type="text" [(ngModel)]="egreso.Empleado"
                                class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                style="width:130%; background-color: rgb(247, 247, 208); height: 30px;"
                                [disabled]="true" />

                            <div class="input-group-append">
                                <button pButton icon="fad fa-minus-circle" type="button" title="Limpiar"
                                    (click)="limpiarDocumento()" [disabled]="puedeEditar">
                                </button>
                            </div>
                        </div>

                        <button (click)="verPersona('SELECCLIENTE','S')" pButton icon="fal fa-search"
                            class="botonbuscar" [disabled]="puedeEditar" type="button" title="Buscar Cliente"></button>

                    </div>
                </div>
                <div class="col-sm-12" style="margin-top: 10px;">
                    <div class="form-group">
                        <label class="label">Descripción</label>
                        <div class="p-inputgroup">
                            <textarea [disabled]="puedeEditar" pInputTextarea rows="5" cols="20"
                                [(ngModel)]="egreso.Descripcion"
                                [style]="{'width':'100%','text-transform': 'uppercase'}" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="Detalle">

            <p-table id="contenido" #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num"
                [value]="lstEgresoDetalle" [responsive]="true" [sortOrder]="1" sortField="num" 
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [scrollable]="true"
               [rowsPerPageOptions]="[15, 30, 50]" [showCurrentPageReport]="true"
                [scrollable]="true" scrollHeight="300px">
                <ng-template pTemplate="header">
                    <tr>

                        <!-- <th class="tablaHeaderCheckBox">IGV</th> -->
                        <th class="tablaHeaderAccion3 label" ALIGN="center">Acción</th>
                        <th pSortableColumn="num" class="label" ALIGN="center" style="width: 13rem;">
                            Tipo de Documento <p-sortIcon field="TipoDocumento"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="Serie" class="label" ALIGN="center" style="width: 5rem;">
                            Serie <p-sortIcon field="Serie"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="Documento" class="label" ALIGN="center" style="width: 10rem;">
                            Documento <p-sortIcon field="Documento"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="Proveedor" class="label" ALIGN="center" style="width: 10rem;">
                            Proveedor <p-sortIcon field="Proveedor"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="Concepto" class="label" ALIGN="center" style="width: 10rem;">
                            Concepto <p-sortIcon field="Concepto"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="Cantidad" class="label" ALIGN="center" style="width: 8rem;">
                            Cantidad <p-sortIcon field="Cantidad"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="Valor" class="label" ALIGN="center" style="width: 6rem;">
                            Monto <p-sortIcon field="Valor"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="igv" class="label" ALIGN="center" style="width: 6rem;">
                            IGV <p-sortIcon field="igv"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="Total" class="label" ALIGN="center" style="width: 5rem;">
                            Total <p-sortIcon field="Total"> </p-sortIcon>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr >
                        <!-- <td class="tablaColumnaCheckBox text-center">
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td> -->
                        <td class="tablaColumnaAccion3 text-center">
                            <span class="p-column-title">Acción</span>
                            <table class="text-center">
                                <tr>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                            class="p-button-rounded p-button-text" title="Editar"
                                            [disabled]="puedeEditar" (click)="coreEditar(rowData,'EDITAR')"></button>
                                    </th>
                                    <!-- 
                                     
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-search"
                                            (click)="coreVer(rowData)" class="p-button-rounded p-button-text"
                                            title="Ver"></button>
                                    </th> -->
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-minus-circle"
                                            class="p-button-rounded p-button-text" title="Anular"
                                            [disabled]="puedeEditar" (click)="coreinactivar(rowData)"></button>
                                    </th>
                                </tr>
                            </table>
                        </td>

                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 13rem;">
                            <span class="p-column-title">Tipo de Documento</span>
                            {{ rowData.DesTipoDocumento|uppercase}}
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
                            <span class="p-column-title">Serie</span>
                            {{ rowData.Serie|uppercase}}
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;">
                            <span class="p-column-title">Documento</span>
                            {{ rowData.Documento}}
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;">
                            <span class="p-column-title">Proveedor</span>
                            {{ rowData.Proveedor |uppercase}}
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;">
                            <span class="p-column-title">Concepto</span>
                            {{ rowData.Concepto|uppercase}}
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem;">
                            <span class="p-column-title">Cantidad</span>
                            {{ rowData.Cantidad}}
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
                            <span class="p-column-title">Monto</span>
                            {{ rowData.MontoAfecto | number:'1.2-2'}}
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
                            <span class="p-column-title">IGV</span>
                            {{ rowData.MontoImpuesto | number:'1.2-2'}}
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
                            <span class="p-column-title">Total</span>
                            {{ rowData.MontoTotal | number:'1.2-2' }}
                        </td>

                    </tr>
                </ng-template>

                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" *ngIf="!puedeEditar" (click)="nuevoDetalle('INGRESAR')" icon="pi pi-plus"
                        styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="summary">
                    <p style="display: flex; justify-content: center;">
                        SUB-TOTAL: {{egreso.MontoAfecto | number:'1.2-2'}}&nbsp;
                        IGV: {{egreso.MontoImpuesto | number:'1.2-2'}} &nbsp;
                        TOTAL: {{egreso.MontoTotal | number:'1.2-2'}} </p>
                </ng-template>
            </p-table>
        </p-fieldset>

        <br>
        <p-fieldset legend="Auditoria">
            <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                [modificacionFecha]="fechaModificacion"></ngx-auditoria>
        </p-fieldset>

    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" *ngIf="!puedeEditar"
            [disabled]="puedeEditar" type="submit" (click)="coreGuardar()"></p-button>
    </ng-template>

</p-dialog>

<p-dialog header="{{accionDetalle | uppercase}}" [(visible)]="isDialogDetalle" [modal]="true"
    [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [baseZIndex]="1001"
    (onHide)="btnCerrarDetalle()">
    <br>
    <p-fieldset legend="Nuevo Detalle">
        <div class="row">
            <div class="col-sm-4">
                <label class="label">Tipo de Documento</label>

                <p-dropdown [disabled]="puedeEditar" class="tablaCompletaIzquieda"
                    [(ngModel)]="detalleSeleccionado.TipoDocumento"
                    [style]="{'width':'100%','text-transform': 'uppercase','background-color': 'rgb(247, 247, 208)'  }"
                    (onChange)="SeleccioneSerie($event)" [options]="lstTipoComprobante">
                </p-dropdown>
            </div>

            <div class="col-sm-4">
                <label class="label">Serie</label>
                <input pInputText type="text" [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)' }"
                    [disabled]="puedeEditar" maxlength="25" [(ngModel)]="detalleSeleccionado.Serie" />
            </div>
            <div class="col-sm-4">
                <label class="label">Nro Recibo</label>
                <input pInputText type="text" [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)' }"
                    [disabled]="puedeEditar" maxlength="25" [(ngModel)]="detalleSeleccionado.NroDocumento" />
            </div>

            <div class="col-sm-12">
                <label class="label">Proveedor</label>
                <div class="p-inputgroup">
                    <div class="p-inputgroup">
                        <input pInputText type="text" [disabled]="true" [(ngModel)]="detalleSeleccionado.Documento"
                            class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                            style="width:70%; background-color: rgb(247, 247, 208); height: 30px;" />
                        &nbsp;
                        <input pInputText type="text" [(ngModel)]="detalleSeleccionado.Proveedor"
                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                            style="width:130%; background-color: rgb(247, 247, 208); height: 30px;" [disabled]="true" />

                        <div class="input-group-append">
                            <button pButton icon="fad fa-minus-circle" type="button" title="Limpiar"
                                (click)="limpiarDocumentoProveedor()" [disabled]="puedeEditar">
                            </button>
                        </div>
                    </div>

                    <button pButton (click)="verPersona('SELECPROVEEDOR','N')" icon="fal fa-search" class="botonbuscar"
                        [disabled]="puedeEditar" type="button" title="Buscar Cliente"></button>

                </div>
            </div>

            <div class="col-sm-12">
                <label class="label">Concepto</label>
                <input pInputText type="text" [style]="{'width':'100%' }" [disabled]="puedeEditar" maxlength="100"
                    [(ngModel)]="detalleSeleccionado.Concepto" />
            </div>

            <div class="col-sm-3">
                <label class="label">Cantidad</label>
                <p-inputNumber mode="decimal" [disabled]="puedeEditar"
                    [inputStyle]="{'width':'100%','text-align': 'left','background-color': 'rgb(247, 247, 208)'}"
                    [style]="{'width':'100%'}" [maxFractionDigits]="0" [minFractionDigits]="0"
                    (onBlur)="calcularTotal()" [(ngModel)]="detalleSeleccionado.Cantidad">
                </p-inputNumber>
            </div>

            <div class="col-sm-3">
                <label class="label">Monto</label>
                <p-inputNumber mode="decimal" [disabled]="true"
                    [inputStyle]="{'width':'100%','text-align': 'left','background-color': 'rgb(247, 247, 208)'}"
                    [style]="{'width':'100%'}" [maxFractionDigits]="2" [minFractionDigits]="2"
                    [(ngModel)]="detalleSeleccionado.MontoAfecto">
                </p-inputNumber>
            </div>
            <div class="col-sm-3">
                <input (click)="validarIgv()" [(ngModel)]="isIgv" class="form-check-input" type="checkbox"
                    name="inlineRadioOptions" id="inlineRadio1" value="{{isIgv}}" checked>
                <!-- <p-inputSwitch (click)="validarIgv($event)" [(ngModel)]="isIgv"></p-inputSwitch> -->
                <label class="label">IGV</label>
                <p-inputNumber mode="decimal" [disabled]="true"
                    [inputStyle]="{'width':'100%','text-align': 'left','background-color': 'rgb(247, 247, 208)'}"
                    [style]="{'width':'100%'}" [maxFractionDigits]="2" [minFractionDigits]="2"
                    [(ngModel)]="detalleSeleccionado.MontoImpuesto">
                </p-inputNumber>
            </div>

            <div class="col-sm-3">
                <label class="label">Total</label>
                <p-inputNumber mode="decimal" [disabled]="puedeEditar"
                    [inputStyle]="{'width':'100%','text-align': 'left','background-color': 'rgb(247, 247, 208)'}"
                    [style]="{'width':'100%'}" [maxFractionDigits]="2" [minFractionDigits]="2"
                    [(ngModel)]="detalleSeleccionado.MontoTotal" (onBlur)="calcularTotal()">
                </p-inputNumber>
                <!-- <input pInputText type="text" [style]="{'width':'100%' }" [disabled]="puedeEditar" maxlength="25" /> -->
            </div>
        </div>
    </p-fieldset>
    <ng-template pTemplate="footer">
        <p-button label="{{accionDetalle | titlecase }}" icon="pi pi-save" styleClass="p-button-primary"
            [disabled]="puedeEditar" type="submit" (click)="ingresarDetalle()"></p-button>
    </ng-template>
</p-dialog>

<p-toast key="bc" [baseZIndex]="1000"></p-toast>

<ngx-persona-buscar></ngx-persona-buscar>