<p-dialog header="{{accion | titlecase}} {{ breadcrumb | titlecase}}" [modal]="true" [closable]="!barraBusqueda"
    [(visible)]="visualizarForm" [position]="position" [styleClass]="'md:w-6 w-11'" [maximizable]="true">
    <p-progressbar mode="indeterminate" class="mb-0 mt-0" [style]="{ height: '1px' }" *ngIf="barraBusqueda" />

    <form class="flex flex-wrap" [formGroup]="mantenimientoForm" >
        <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
            <label for="Código">Código <span class="font-semibold text-red-500">*</span></label>
            <input pInputText id="Código" type="text" formControlName="SedCodigo" placeholder="Obligatorio" />
            <span *ngIf="mantenimientoForm.get('SedCodigo')?.invalid && mantenimientoForm.get('SedCodigo')?.touched"
                class="text-red-500 text-sm italic"> El campo Código es obligatorio. </span>
            <span
                *ngIf="mantenimientoForm.get('SedCodigo')?.touched && mantenimientoForm.get('SedCodigo')?.errors?.['minlength']"
                class="text-red-500 text-sm italic">
                El código debe tener al menos 3 caracteres.
            </span>
        </div>
        <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
            <label for="Sucursal">Sucursal <span class="font-semibold text-red-500">*</span></label>
            <input pInputText id="Sucursal" type="text" formControlName="SedDescripcion" placeholder="Obligatorio" />
            <span
                *ngIf="mantenimientoForm.get('SedDescripcion')?.invalid && mantenimientoForm.get('SedDescripcion')?.touched"
                class="text-red-500 text-sm italic"> El combre de la sucursal es obligatorio. </span>
        </div>
        <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
            <label for="Teléfono">Teléfono</label>
            <input pInputText id="Teléfono" type="text" formControlName="Telefono" placeholder="" />
        </div>
        <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
            <label for="Dirección">Dirección</label>
            <input pInputText id="Dirección" type="text" formControlName="Direccion" placeholder="" />
        </div>
        <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
            <label for="compania">Compania <span class="font-semibold text-red-500">*</span></label>
            <p-dropdown appendTo="body" [options]="lstCompanias" optionLabel="descripcion" optionValue="codigo"
                id="compania" formControlName="IdEmpresa" placeholder="Obligatorio"></p-dropdown>
            <span *ngIf="mantenimientoForm.get('IdEmpresa')?.invalid && mantenimientoForm.get('IdEmpresa')?.touched"
                class="text-red-500 text-sm italic"> La selección de compañia es obligatorio. </span>
        </div>
        <div class="flex flex-col gap-2 pl-2 pr-2 md:col-6 col-12 ">
            <label for="Estado">Estado <span class="font-semibold text-red-500">*</span></label>
            <p-dropdown appendTo="body" [options]="lstEstados" optionLabel="descripcion" optionValue="codigo"
                id="Estado" formControlName="SedEstado" placeholder="Obligatorio"></p-dropdown>
            <span *ngIf="mantenimientoForm.get('SedEstado')?.invalid && mantenimientoForm.get('SedEstado')?.touched"
                class="text-red-500 text-sm italic"> La selección de estado es obligatorio. </span>
        </div>
    </form>

    <div class="flex flex-wrap justify-content-between">
        <!-- <app-log-modificaciones [componente]="this"></app-log-modificaciones> -->
        <p-fieldset [styleClass]="'font-bold'" legend="Log de modificaciones" *ngIf="visualizarLogMoficaciones">
            <div class="flex flex-column">
                <div class="flex">
                    <p-avatar label="P" styleClass="mr-2" size="large" shape="circle" />
                    <div class="w-11 ml-1">
                        <div class="text-400">Nota de <strong class="text-blue-700">Administrator</strong> - hace 4 días
                        </div>
                        <div class="font-medium"><strong class="font-bold">Se agregó un nuevo misceláneo:</strong>
                            Sucursal - SEG - Clínica el golf <strong class="font-bold">Fecha y hora:</strong> 2025-04-07
                            12:34:04</div>
                    </div>
                </div>
                <p-divider align="center" type="dotted">
                    <b>28 de enero de 2025</b>
                </p-divider>
            </div>
        </p-fieldset>
    </div>
    <ng-template #footer>
        <div class="gap-2">
            <p-button icon="pi pi-users" severity="secondary" class="mr-2" label="{{'Auditoria' | titlecase}}" raised
                *ngIf="accion != 'AGREGAR'" (onClick)="btnLogAuditoria()" />

            <p-button
                icon="pi {{!bloquearComponente ?  accion == 'AGREGAR' ? 'pi-plus':'pi-pencil': 'pi-spin pi-spinner' }}"
                class="ml-2" label="{{accion | titlecase}}" raised *ngIf="accion != 'VER'" (onClick)="btnConfirmarGuardarMantenimiento($event)"
                [disabled]="!mantenimientoForm.valid" />
        </div>
    </ng-template>
</p-dialog>
<p-confirmdialog key="confirmarRegistroMantenimiento" />
<p-toast [showTransformOptions]="'translateY(90%)'" key="notification" position="bottom-right"></p-toast>