<p-blockUI [blocked]="bloquearPag" [baseZIndex]="2000">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
  [style]="{width: '1500px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="1000">
  <br>
  <div class="row">

    <p-fieldset legend="Dividir Lotes" class="col-sm-3">
      <div class="row">

        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">Compañia</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
              <p-dropdown readonly="true" [disabled]="puedeEditar" (onChange)="selectedItemcompania($event)"
                [(ngModel)]="dto.CompaniaCodigo" [options]="lstCompania" [style]="{'min-width':'100%'}"> </p-dropdown>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">Programa</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
              <p-dropdown readonly="true" [(ngModel)]="dto.IdSede" [options]="lstSucursal" [disabled]="puedeEditar"
                [style]="{'width':'100%'}"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">Manzana</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
              <p-dropdown readonly="true" [(ngModel)]="dto.IdProyecto" [options]="lstPrograma" [disabled]="puedeEditar"
                (onChange)="selectedItemPrograma($event)" [style]="{'width':'100%'}"></p-dropdown>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">Lote</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
              <input readonly="true" pInputText type="text" [(ngModel)]="dto.Nombre" [style]="{'width':'100%'}"
                [disabled]="puedeEditar" />
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">Valor Total Lote</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
              <input readonly="true" pInputText type="text" [(ngModel)]="dto.ValorTotal" [style]="{'width':'100%'}"
                [disabled]="puedeEditar" />
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">Area Total(m2)</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
              <input readonly="true" pInputText type="text" [(ngModel)]="dto.AreaTotal" [style]="{'width':'100%'}"
                [disabled]="puedeEditar" />
            </div>
          </div>
        </div>


      </div>
    </p-fieldset>
    <p-fieldset legend="Lotes Divididos" class="col-sm-9">
      <!-- <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="tipousuario" [value]="lstLote"
        [responsive]="true" [sortOrder]="-1" sortField="tipousuario"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true"> -->
      <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" [responsive]="true " [style]="{ width: '100%'}"
        [sortOrder]="1" [value]="lstLote" [(selection)]="lstSeleccionadomultiple"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" dataKey="num"
        [rowsPerPageOptions]="[15,30,50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">

        <ng-template pTemplate="header">
          <tr>
            <th class="tablaHeaderAccion1">Acciones</th>
            <!-- <th class="tablaHeaderCheckBox">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <th class="tablaHeaderCodigoChico" pSortableColumn="tipousuario">Nro <p-sortIcon field="tipousuario">
              </p-sortIcon>
            </th>
            <th class="tablaHeaderNombreChico" pSortableColumn="Perfil">Sucursal<p-sortIcon field="Perfil"></p-sortIcon>
            </th>
            <th class="tablaHeaderNombreChico" pSortableColumn="VaEstado">Programa<p-sortIcon field="VaEstado">
              </p-sortIcon>
            </th>
            <th class="tablaHeaderNombre" pSortableColumn="VaEstado">Lote<p-sortIcon field="VaEstado"></p-sortIcon>
            </th>
            <th class="tablaHeaderMonto" pSortableColumn="VaEstado">Valor Total<p-sortIcon field="VaEstado">
              </p-sortIcon>
            </th>
            <th class="tablaHeaderMonto" pSortableColumn="VaEstado">Area Total(m2)<p-sortIcon field="VaEstado">
              </p-sortIcon>
            </th>
            <th class="tablaHeaderNombreChico" pSortableColumn="VaEstado">Estado Campo Detalle<p-sortIcon
                field="VaEstado"></p-sortIcon>
            </th>
            <th class="tablaHeaderEstado" pSortableColumn="VaEstado">Estado<p-sortIcon field="VaEstado"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData  let-ri="rowIndex">
          <tr>

            <td class="tablaColumnaAccion3" >
              <span class="p-column-title">Acción</span>
              <table>
                  <tr>
                      <th>
                          <button pButton pRipple type="button" icon="fad fa-minus-circle"
                              class="p-button-rounded p-button-text" title="Eliminar"  (click)="coreEliminar(rowData,ri)"  ></button>
                      </th>
                  </tr>
              </table>
          </td>
            <!-- <td class="tablaColumnaCheckBox">
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td> -->

            <td class="tablaColumnaCodigoChico" style="text-align: center;">
              <span class="p-column-title">Nro</span>
              {{rowData.num}}
            </td>

            <td class="tablaColumnaNombreChico" style="text-align: center;">
              <span class="p-column-title">Sucursal</span>
              <!-- <p-dropdown [(ngModel)]="rowData.IdSede" [options]="lstSucursal" [disabled]="true"
                [style]="{'width':'100%'}"></p-dropdown> -->
                {{rowData.SedDescripcion}}
            </td>

            <td class="tablaColumnaNombreChico" style="text-align: center;">
              <span class="p-column-title">Programa</span>
              {{rowData.NomProyecto}}
            </td>

            <td class="tablaColumnaNombre" style="text-align: center;">
              <span class="p-column-title">Lote</span>
              <input pInputText type="text" [style]="{'width':'100%'}" [(ngModel)]="rowData.Nombre"  [disabled]="puedeEditar" />
            </td>

            <td class="tablaColumnaMonto" style="text-align: center;">
              <span class="p-column-title">Valor Total</span>
              <p-inputNumber [locale]="locale" [(ngModel)]="rowData.ValorTotal" mode="decimal" [disabled]="puedeEditar"
                [inputStyle]="{'width':'100%','text-align': 'right'}" [maxFractionDigits]="2" [minFractionDigits]="2">
              </p-inputNumber>
            </td>

            <td class="tablaColumnaMonto" style="text-align: center;">
              <span class="p-column-title">Area Total(m2)</span>
              <p-inputNumber  [locale]="locale" [(ngModel)]="rowData.AreaTotal" mode="decimal" [disabled]="puedeEditar"
              [inputStyle]="{'width':'100%','text-align': 'right'}" [maxFractionDigits]="2" [minFractionDigits]="2">
            </p-inputNumber>
            </td>

            <td class="tablaColumnaNombreChico" style="text-align: center;">
              <span class="p-column-title">Estado Campo Detalle</span>
              {{rowData.DesSituacion}}
            </td>

            <td class="tablaColumnaEstado">
              <span class="p-column-title">Estado</span>
              {{rowData.DesEstado}}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!--Botón-->
      <div class="row mt-3 d-flex justify-content-end ">
        <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
          (click)="coreAgregar()"></p-button>
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar"
          type="submit" (click)="coreGuardar()" ></p-button>
        <p-button label="Cancelar" icon="pi pi-minus-circle" styleClass="p-button-primary" [disabled]="puedeEditar"
          type="submit"></p-button>
      </div>
    </p-fieldset>




  </div>
</p-dialog>

<p-toast key="md" [baseZIndex]="4000"></p-toast>

<p-confirmDialog #d key="confirm3" [baseZIndex]="3000" >
  <p-footer>
      <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
          (click)="d.accept()"></button>
      <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
          (click)="d.reject()"></button>
  </p-footer>
</p-confirmDialog>
