<p-blockUI [blocked]="bloquearPag" [baseZIndex]="2000">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<br>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
  [style]="{width: '1200px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="50"
  (onHide)="btnCerrar()">

  <br>
  <ng-template pTemplate="content">
    <div class="row">
      <p-fieldset class="col-sm-12" legend="Información General">

        <div class="row">

          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Lote</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                <input pInputText type="text" [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}"
                  [(ngModel)]="dto.Nombre" [disabled]="puedeEditar" maxlength="25" />
              </div>
            </div>
          </div>

          <div class="col-sm-10">
            <div class="form-group">
              <label class="label">Direcciòn</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                <input pInputText type="text" [style]="{'width':'100%'}" [(ngModel)]="dto.Direccion"
                  [disabled]="puedeEditar" maxlength="100" />
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <label class="label">Observación</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                <textarea pInputText type="text" [disabled]="puedeEditar" pInputTextarea rows="5" cols="20"
                  [(ngModel)]="dto.Observacion" [style]="{'width':'100%'}" maxlength="500"></textarea>
              </div>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Compañia</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [disabled]="puedeEditar" (onChange)="selectedItemcompania($event)" class="drop-down"
                  [(ngModel)]="dto.CompaniaCodigo" [options]="lstCompania"
                  [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}"> </p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Sucursal</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [(ngModel)]="dto.IdSede" [options]="lstSucursal" [disabled]="puedeEditar" class="drop-down"
                  (onChange)="cargarComboPrograma()"
                  [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Programa</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [(ngModel)]="dto.IdProyecto" [options]="lstPrograma" [disabled]="puedeEditar"
                  class="drop-down" (onChange)="selectedItemPrograma($event)"
                  [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Manzana</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [disabled]="puedeEditar" [options]="lstManzana" class="drop-down"
                  [(ngModel)]="dto.IdManzana" [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}">
                </p-dropdown>
              </div>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Departamento</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstDepartamento" [disabled]="puedeEditar" class="drop-down"
                  [(ngModel)]="dto.Departamento" (onChange)="selectedItemDepartamento($event)" [baseZIndex]="20000"
                  appendTo="body" [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}">
                </p-dropdown>
              </div>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Provincia</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstProvincia" [disabled]="puedeEditar" [(ngModel)]="dto.Provincia"
                  (onChange)="selectedItemProvincia($event)" [baseZIndex]="20000" class="drop-down" appendTo="body"
                  [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}">
                </p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Distrito</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstDistrito" [disabled]="puedeEditar" [(ngModel)]="dto.Distrito"
                 [baseZIndex]="20000" class="drop-down" appendTo="body"
                  [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}">
                </p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Ubicación</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstUbicacion" [disabled]="puedeEditar" class="drop-down"
                  [(ngModel)]="dto.Ubicacion" [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}">
                </p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Tipo Lote</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstTipoLote" [disabled]="puedeEditar" class="drop-down"
                  [(ngModel)]="dto.TipoLote" [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}">
                </p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Tipo Interes</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstTipoInteres" [disabled]="puedeEditar" class="drop-down"
                  [(ngModel)]="dto.TipoInteres" [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}">
                </p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Estado</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstEstados" [disabled]="puedeEditar" class="drop-down" [(ngModel)]="dto.Estado"
                  [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}">
                </p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">E. Lote</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstEstadoLote" [(ngModel)]="dto.Condicion" class="drop-down" [disabled]="true"
                  [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Estado de Campo Detalle</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstEstadoCampo" [(ngModel)]="dto.Situacion" class="drop-down"
                  [disabled]="puedeEditar"
                  [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <label class="label"> % Morosidad</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi  pi-money-bill"></i></span>
              <p-inputNumber mode="decimal" [(ngModel)]="dto.MorosidadPorcentaje"
                [inputStyle]="{'width':'100%','text-align': 'right'}" [disabled]="puedeEditar" [maxFractionDigits]="0"
                [minFractionDigits]="0">
              </p-inputNumber>
            </div>
          </div>

          <!-- <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Dias de Gracia</label>
              <div class="p-inputgroup">
                <input pInputText type="text" [(ngModel)]="dto.diasGracia" [disabled]="puedeEditar" />
              </div>
            </div>
          </div> -->
        </div>

      </p-fieldset>



      <p-fieldset class="col-sm-6" legend="Otros" [style]="{'margin-top':'15px'}">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="label">Area M2</label>
              <p-inputNumber  (onBlur)="valorSolesAtotal($event)" [(ngModel)]="dto.AreaTotal"
                mode="decimal" [disabled]="puedeEditar"
                [inputStyle]="{'width':'100%','text-align': 'left','background-color': 'rgb(247, 247, 208)'}"
                [style]="{'width':'100%'}" [maxFractionDigits]="2" [minFractionDigits]="2">
              </p-inputNumber>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Tipo Cambio</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                <!--Arreglar-->
                <input pInputText type="text" [(ngModel)]="dto.TipoCambio"
                  [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}" [disabled]="true" />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Moneda</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstMoneda" [disabled]="puedeEditar" class="drop-down"
                  [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}"
                  [(ngModel)]="dto.MonedaCodigo"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="label">Precio por M2</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
              <p-inputNumber  [disabled]="puedeEditar" (onBlur)="valorSolesIvalor($event)"
                [(ngModel)]="dto.Valor" mode="decimal"
                [inputStyle]="{'width':'100%','text-align': 'right','background-color': 'rgb(247, 247, 208)'}"
                [maxFractionDigits]="2" [minFractionDigits]="2">
              </p-inputNumber>

            </div>
          </div>

          <div class="col-sm-6">
            <label class="label">Monto Total</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
              <p-inputNumber  [disabled]="true" [(ngModel)]="dto.ValorTotal" mode="decimal"
                [inputStyle]="{'width':'100%','text-align': 'right','background-color': 'rgb(247, 247, 208)'}"
                [maxFractionDigits]="2" [style]="{'width':'100%'}" [minFractionDigits]="2">
              </p-inputNumber>
            </div>
          </div>

      
        </div>
      </p-fieldset>

      <p-fieldset class="col-sm-6" legend="Imagenes" [style]="{'margin-top':'15px'}">
        <div class="row">
          <div class="col-sm-12">
            <label class="label">Imagen N° 1</label>
            <div class="p-inputgroup">
              <button *ngIf="dto.imaNombre1 !=null" pButton icon="fad fa-minus-circle" type="button"
                title="Eliminar Imagen" (click)="eliminarImagen(1)" [disabled]="puedeEditar">
              </button>
              <input pInputText type="text" [(ngModel)]="dto.imaNombre1" [style]="{'width':'100%'}" [disabled]="true" />
              <input type="file" id="file-input-1" [disabled]="puedeEditar" (change)="exportar($event,1)"
                [(ngModel)]="dto.imaNombre1">
              <label for="file-input-1" [disabled]="puedeEditar" class="custom-file-upload">Seleccionar</label>

             
            </div>
          </div>
          <div class="col-sm-12">
            <label class="label">Imagen N° 2</label>
            <div class="p-inputgroup">
              <button *ngIf="dto.imaNombre2 !=null" pButton icon="fad fa-minus-circle" type="button"
              title="Eliminar Imagen" (click)="eliminarImagen(2)" [disabled]="puedeEditar">
            </button>
              <input pInputText type="text" [(ngModel)]="dto.imaNombre2" [style]="{'width':'100%'}" [disabled]="true" />
              <input pInputText (change)="exportar($event,2)" type="file" [(ngModel)]="dto.imaNombre2"
                [style]="{'width':'100%'}" [disabled]="puedeEditar" id="file-input-2">
              <label for="file-input-2" [disabled]="puedeEditar" class="custom-file-upload">Seleccionar</label>
            </div>
          </div>
          <div class="col-sm-12">
            <label class="label">Imagen N° 3</label>
            <div class="p-inputgroup">
              <button *ngIf="dto.imaNombre3 !=null" pButton icon="fad fa-minus-circle" type="button"
              title="Eliminar Imagen" (click)="eliminarImagen(3)" [disabled]="puedeEditar">
            </button>
              <input pInputText type="text" [(ngModel)]="dto.imaNombre3" [style]="{'width':'100%'}" [disabled]="true" />
              <input pInputText (change)="exportar($event,3)" type="file" [(ngModel)]="dto.imaNombre3"
                [style]="{'width':'100%'}" [disabled]="puedeEditar" id="file-input-3">
              <label for="file-input-3" [disabled]="puedeEditar" class="custom-file-upload">Seleccionar</label>
            </div>
          </div>
          <div class="col-sm-12">
            <label class="label">Imagen N° 4</label>
            <div class="p-inputgroup">
              <button *ngIf="dto.imaNombre4 !=null" pButton icon="fad fa-minus-circle" type="button"
              title="Eliminar Imagen" (click)="eliminarImagen(4)" [disabled]="puedeEditar">
            </button>
              <input pInputText type="text" [(ngModel)]="dto.imaNombre4" [style]="{'width':'100%'}" [disabled]="true" />
              <input pInputText (change)="exportar($event,4)" type="file" [(ngModel)]="dto.imaNombre4"
                [style]="{'width':'100%'}" [disabled]="puedeEditar" id="file-input-4">
              <label for="file-input-4" [disabled]="puedeEditar" class="custom-file-upload">Seleccionar</label>
            </div>
          </div>
          <div class="col-sm-2">
            <button pButton type="button" icon="pi pi-image" label="Show" (click)="coreVerImagen(dto)"></button>
          </div>
         </div>
      </p-fieldset>
    </div>

    <br>

    <div class="row">
      <p-fieldset class="col-sm-12" legend="Auditoria">
        <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
          [modificacionFecha]="fechaModificacion"></ngx-auditoria>
      </p-fieldset>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
      (click)="coreGuardar($event)"></p-button>
  </ng-template>

</p-dialog>
<ngx-lotes-imagen></ngx-lotes-imagen>
<p-toast key="lc" [baseZIndex]="3000"></p-toast>