<nb-card style="background-color: transparent;" accent="warning" class="col-sm-11">
    <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>

    </nb-card-header>
    <nb-card-body style="background-color: transparent;">







        <p-fieldset legend="Información Consulta">


            <div class="row" style="padding: 10px;">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Periodo</label>
                        <p-dropdown placeholder="Seleccione "></p-dropdown>
                    </div>
                </div>


            </div>

        </p-fieldset>
        <br>

        <p-fieldset legend="Detalle">

            <div class="row">
                <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="tipousuario" [responsive]="true"
                    [sortOrder]="-1" sortField="tipousuario" [value]="dto"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                    [showCurrentPageReport]="true" [ngStyle]="{'padding-left': '25px','padding-right': '25px'}">

                    <ng-template pTemplate="header">
                        <tr>
                            <th class="tablaHeaderAccion3">Acción</th>
                            <th pSortableColumn="tipousuario" style="font-size: 11px;">Nro<p-sortIcon
                                    field="tipousuario"> </p-sortIcon>
                            </th>

                            <th pSortableColumn="Perfil" style="font-size: 11px;">Periodo<p-sortIcon field="Perfil">
                                </p-sortIcon>
                            </th>

                            <th pSortableColumn="VaEstado" style="font-size: 11px;">Tipo Adm<p-sortIcon
                                    field="VaEstado"></p-sortIcon>
                            </th>
                            <th pSortableColumn="VaEstado" style="font-size: 11px;">Clasificación<p-sortIcon
                                    field="VaEstado"></p-sortIcon>
                            </th>
                            <th pSortableColumn="VaEstado" style="font-size: 11px;">Cliente<p-sortIcon field="VaEstado">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="VaEstado" style="font-size: 11px;">Sede<p-sortIcon field="VaEstado">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="VaEstado" style="font-size: 11px;">Paciente<p-sortIcon
                                    field="VaEstado">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="VaEstado" style="font-size: 11px;">Examen#<p-sortIcon field="VaEstado">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="VaEstado" style="font-size: 11px;">Cantidad<p-sortIcon
                                    field="VaEstado">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="VaEstado" style="font-size: 11px;">Total<p-sortIcon field="VaEstado">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="VaEstado" style="font-size: 11px;">Coaseguro<p-sortIcon
                                    field="VaEstado">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="VaEstado" style="font-size: 11px;">Pendiente<p-sortIcon
                                    field="VaEstado">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="VaEstado" style="font-size: 11px;">Liquidado<p-sortIcon
                                    field="VaEstado">
                                </p-sortIcon>
                            </th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-asignarPerfil>
                        <tr>
                            <td class="tablaColumnaAccion3">
                                <span class="p-column-title">Acción</span>
                                <table>
                                    <tr>
                                        <th>
                                            <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                                class="p-button-rounded p-button-text" title="Editar"
                                                (click)="coreEditar(asignarPerfil)"></button>
                                        </th>
                                        <th>
                                            <button pButton pRipple type="button" icon="fad fa-search"
                                                (click)="coreVer(asignarPerfil)" class="p-button-rounded p-button-text"
                                                title="Ver"></button>
                                        </th>
                                        <th>
                                            <button pButton pRipple type="button" icon="fad fa-minus-circle"
                                                class="p-button-rounded p-button-text" title="Inactivar"></button>
                                        </th>
                                    </tr>
                                </table>
                            </td>
                            <td>{{asignarPerfil.CodigoTabla}}</td>

                            <td>{{asignarPerfil.Descripcion}}</td>

                            <td>
                                <span>{{asignarPerfil.Nombre}}</span>
                            </td>
                            <td>{{asignarPerfil.CodigoTabla}}</td>
                            <td>{{asignarPerfil.CodigoTabla}}</td>

                            <td>{{asignarPerfil.Descripcion}}</td>

                            <td>
                                <span>{{asignarPerfil.Nombre}}</span>
                            </td>
                            <td>{{asignarPerfil.CodigoTabla}}</td>

                            <td>{{asignarPerfil.CodigoTabla}}</td>

                            <td>{{asignarPerfil.Descripcion}}</td>

                            <td>
                                <span>{{asignarPerfil.Nombre}}</span>
                            </td>
                            <td>{{asignarPerfil.CodigoTabla}}</td>






                        </tr>
                    </ng-template>
                </p-table>


            </div>

        </p-fieldset>




    </nb-card-body>

</nb-card>

<ngx-produccion-mantenimiento></ngx-produccion-mantenimiento>
