:host ::ng-deep .p-button {
    padding: 0px;
}

:host ::ng-deep .p-progressbar {
    .p-progressbar-value {
        background-color: #0cadff;
        color: var(--red-400);
    }
}

// :host ::ng-deep  .p-sidebar-right {
//     width: 400px !important;
// }

// :host ::ng-deep .p-sidebar .p-sidebar-header + .p-sidebar-content {
//     height: 100vh;
// }

:host ::ng-deep {

    .p-dialog .p-dialog-header {
        background-color: white;
        border-bottom: 0.2px solid rgb(214, 214, 214);
    }

    .p-knob-value {
        position: absolute;
        top: 0;
        left: 0;
    }

}