<!-- <p-dropdown placeholder="Seleccione"
    [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}"
    [options]="[]" [disabled]="puedeEditar"></p-dropdown> -->
<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '1450px'}" [header]="acciones" [position]="position" [maximizable]="true">
    <br>
    <ng-template pTemplate="content">
        <div class="row">
            <div class="col-sm-5">
                <p-fieldset legend="Datos">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="label">Responsable</label>
                            <div class="p-inputgroup">
                                <div class="p-inputgroup">
                                    <!-- (keydown)="validarTeclaEnterRepresentante($event)" -->
                                    <input pInputText type="text" [disabled]="true"
                                        [(ngModel)]="dtoProgramacion.Documento"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:70%; background-color:rgb(247, 247, 208)" />
                                    &nbsp;
                                    <input pInputText type="text" [(ngModel)]="dtoProgramacion.Responsable"
                                        class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                        style="width:130%; background-color:rgb(247, 247, 208)" [disabled]="true" />

                                    <div class="input-group-append">
                                        <button pButton icon="fad fa-minus-circle" type="button"
                                            (click)="limpiarResponsable()" title="Limpiar" [disabled]="puedeEditar">
                                        </button>
                                    </div>
                                </div>
                                <button pButton icon="fal fa-search" class="botonbuscar" (click)="coreBuscarPersona()"
                                    [disabled]="puedeEditar" type="button" title="Buscar Empresa"></button>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label class="label">Formato mensaje</label>
                            <p-dropdown [style]="{ 'width':'100%'}"
                                [inputStyle]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"
                                [(ngModel)]="dtoProgramacion.IdMensaje" [options]="lstTipoMensaje"
                                (click)="seleccionTipoMensaje()" [disabled]="puedeEditar"></p-dropdown>
                        </div>
                        <div class="col-sm-6">
                            <label class="label">Tipo</label>
                            <div class="d-flex">
                                <div class="p-inputgroup">
                                    <p-radioButton name="Correo" value="correo" [disabled]="true" [(ngModel)]="rbTipo"
                                        inputId="Correo"></p-radioButton>
                                    <label for="Correo" class="ml-2">Correo</label>
                                </div>
                                <div class="p-inputgroup">
                                    <p-radioButton name="SMS" value="sms" [disabled]="true" [(ngModel)]="rbTipo"
                                        inputId="SMS"></p-radioButton>
                                    <label for="SMS" class="ml-2">SMS</label>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-6">
                            <label class="label">Desde: </label>
                            <p-calendar [monthNavigator]="true" appendTo="body" [yearNavigator]="true"
                                [(ngModel)]="dtoProgramacion.FechaInicio" [style]="{'width':'100%'}"
                                [inputStyle]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"
                                [minDate]="minDateFin" [locale]="es" [disabled]="puedeEditar" dateFormat="dd/mm/yy"
                                [showIcon]="true">
                            </p-calendar>
                            <!-- <p-calendar appendTo="body" [monthNavigator]="true" [yearNavigator]="true"
                                [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" yearRange="1940:2200"
                                [locale]="es" dateFormat="dd/mm/yy" selectionMode="range" [showIcon]="true">
                            </p-calendar> -->
                        </div>
                        <div class="col-sm-6">
                            <label class="label">Horas</label>
                            <!-- [style]="{'display': 'flex','align-items': 'center','justify-content': 'space-around'}"> -->
                            <div class="p-inputgroup">
                                <p-calendar appendTo="body"  [disabled]="puedeEditar" [(ngModel)]="dtoProgramacion.HoraInicio" [timeOnly]="true"
                                    [hourFormat]="12"
                                    [inputStyle]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"
                                    [style]="{'width':'40%'}" style="width: 40%;" [inputStyle]="{'width':'40%'}">
                                </p-calendar>
                                <!-- <span>-</span>
                                <p-calendar appendTo="body" [timeOnly]="true" [hourFormat]="12"
                                    [style]="{'width':'40%'}" style="width: 40%;" [inputStyle]="{'width':'40%'}">
                                </p-calendar> -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="label">Repetición</label>
                            <p-dropdown appendTo="body"  [disabled]="puedeEditar"
                                [inputStyle]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"
                                [(ngModel)]="dtoProgramacion.TipoProgramacion" [options]="lstRepeticion"
                                [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                        <div class="col-sm-6">
                            <label class="label">Estado</label>
                            <p-dropdown appendTo="body"  [disabled]="puedeEditar"
                                [inputStyle]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"
                                [(ngModel)]="dtoProgramacion.Estado" [options]="lstEstados"
                                [style]="{'width':'100%'}"></p-dropdown>
                        </div>                       
                    </div>
                </p-fieldset>
            </div>
            <div class="col-sm-7">
                <p-fieldset legend="Personas">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="label"></label>
                            <p-table #dt [rows]="6" [paginator]="true" [rowHover]="true" dataKey="Nombre"
                                [value]="dtoprogramacionDetalle" [responsive]="true"
                                [(selection)]="lstSeleccionadomultiple"  [disabled]="puedeEditar"
                                currentPageReportTemplate="{last} de {totalRecords}" [sortOrder]="-1"
                                sortField="tipousuario" [showCurrentPageReport]="true" [scrollable]="true"
                                scrollHeight="300px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="label text-center" ALIGN="center" style="width: 1rem">
                                            <p-tableHeaderCheckbox  [disabled]="puedeEditar"></p-tableHeaderCheckbox>
                                        </th>
                                        <th pSortableColumn="num" class="label text-center" ALIGN="center"
                                            style="width: 2rem">
                                            Nro<p-sortIcon field="num"> </p-sortIcon>
                                        </th>
                                        <th class="label" pSortableColumn="Nombre" ALIGN="center"
                                            style="width: 4rem; text-align: center;">
                                            Persona<p-sortIcon field="Nombre"></p-sortIcon>
                                        </th>
                                        <th class="label" pSortableColumn="Codigo" ALIGN="center"
                                            *ngIf="rbTipo == 'sms'" style="width: 4rem; text-align: center;">
                                            Teléfono<p-sortIcon field="Codigo"></p-sortIcon>
                                        </th>
                                        <th class="label" pSortableColumn="Codigo" ALIGN="center"
                                            *ngIf="rbTipo == 'correo'" style="width: 4rem; text-align: center;">
                                            Correo<p-sortIcon field="Codigo"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData>
                                    <tr>
                                        <td class="tablaColumnaCodigoChico text-center" style="width: 1.1rem;">
                                            <p-tableCheckbox [value]="rowData"  [disabled]="puedeEditar"></p-tableCheckbox>
                                        </td>
                                        <td class="tablaColumnaCodigoChico text-center" style="width: 2rem;">
                                            <span class="p-column-title">Nro</span>
                                            {{ rowData.num }}
                                        </td>
                                        <td class="tablaColumnaCodigoChico text-center" style="width: 5rem;">
                                            <span class="p-column-title">Persona</span>
                                            {{ rowData.Nombre | uppercase }}
                                        </td>

                                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                                            *ngIf="rbTipo == 'sms'" style="width: 4rem;">
                                            <span class="p-column-title">Teléfono</span>
                                            {{ rowData.Codigo |uppercase}}
                                        </td>
                                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                                            *ngIf="rbTipo == 'correo'" style="width: 4rem;">
                                            <span class="p-column-title">Correo</span>
                                            {{ rowData.Codigo |uppercase}}
                                        </td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="paginatorleft">
                                    <p-button type="button" icon="pi pi-minus" title="Agregar Persona"
                                        (click)="eliminarPersona()"  [disabled]="puedeEditar" styleClass="p-button-text"></p-button>
                                    <p-button type="button" icon="pi pi-plus" title="Agregar Persona"
                                        (click)="coreBuscarPersona(true)"  [disabled]="puedeEditar" styleClass="p-button-text"></p-button>


                                    <input pInputText (change)="cargaArchivo($event)" type="file"
                                        [(ngModel)]="dto.imaNombre2" [style]="{'width':'100%'}" [disabled]="puedeEditar"
                                        id="file-input-2">
                                    <label for="file-input-2" [disabled]="puedeEditar">
                                        <p-button type="button" for="file-input-2"  [disabled]="puedeEditar" icon="pi pi-cloud-download"
                                            title="Subir Lista" styleClass="p-button-text"></p-button></label>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-fieldset>
            </div>

        </div>


    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Vista previa " icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar"
            type="button" (click)="coreVistaPrevia()"></p-button>
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar()"></p-button>
    </ng-template>
</p-dialog>
<ngx-persona-buscar></ngx-persona-buscar>
<ngx-vista-previa-mensaje></ngx-vista-previa-mensaje>