<p-dialog header="{{accion | titlecase}} {{ breadcrumb | titlecase}}" [modal]="true" [closable]="!barraBusqueda"
    [(visible)]="visualizarForm" [position]="position" [styleClass]="'md:w-9 w-11'" [maximizable]="true">

    <p-progressbar mode="indeterminate" class="mb-0 mt-0" [style]="{ height: '1px' }" *ngIf="barraBusqueda" />
    <div class="flex flex-wrap md:flex-nowrap gap-2">
        <p-fieldset legend="Datos Generales" class="col-6">
            <form class="flex flex-wrap" [formGroup]="mantenimientoForm" (ngSubmit)="btnAccionForm()">
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-4 col-12 ">
                    <label for="name1">Compañia <span class="font-semibold text-red-500">*</span></label>
                    <p-dropdown appendTo="body" [options]="lstPerfiles" optionLabel="descripcion" optionValue="codigo"
                        formControlName="PERFIL" placeholder="Seleccione una opción"></p-dropdown>
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-4 col-12 ">
                    <label for="name1">Sucursal <span class="font-semibold text-red-500">*</span></label>
                    <p-dropdown appendTo="body" [options]="lstPerfiles" optionLabel="descripcion" optionValue="codigo"
                        formControlName="PERFIL" placeholder="Seleccione una opción"></p-dropdown>
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-4 col-12 ">
                    <label for="name1">Gerencia <span class="font-semibold text-red-500">*</span></label>
                    <p-dropdown appendTo="body" [options]="lstPerfiles" optionLabel="descripcion" optionValue="codigo"
                        formControlName="PERFIL" placeholder="Seleccione una opción"></p-dropdown>
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-4 col-12 ">
                    <label for="name1">Responsable <span class="font-semibold text-red-500">*</span></label>
                    <input pInputText id="name1" placeholder="Ingrese nombre" type="text"
                        formControlName="NOMBRECOMPLETO" />
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-4 col-12 ">
                    <label for="name1">Centro De Costo <span class="font-semibold text-red-500">*</span></label>
                    <p-dropdown appendTo="body" [options]="lstPerfiles" optionLabel="descripcion" optionValue="codigo"
                        formControlName="PERFIL" placeholder="Seleccione una opción"></p-dropdown>
                </div>
                <div class="flex flex-col gap-2 pl-2 pr-2 md:col-4 col-12 ">
                    <label for="name1">Perfil <span class="font-semibold text-red-500">*</span></label>
                    <input pInputText id="name1" type="text" placeholder="Ingrese el nombre del perfil" />
                </div>
            </form>
        </p-fieldset>
        <p-fieldset legend="Asignación De Aplicativos" class="col-6">

            <section class="flex flex-wrap">
                <div class="col-6">
                    <div class="flex col-12 ">
                        <p-dropdown appendTo="body" [options]="lstPerfiles" optionLabel="descripcion"
                            optionValue="codigo" [(ngModel)]="codigoAplicativoAgregar" [styleClass]="'w-12'"
                            placeholder="Seleccione una opción"></p-dropdown>
                        <p-button icon="pi pi-plus" class="ml-2" raised severity="success"
                            title="Agregar aplicativo seleccionado" (onClick)="onAgregarAplicativoSeleccionado()" />
                    </div>
                    <div class="border-round border-solid  border-1 border-300 col-12">
                        <h4 class="w-12 ml-2 mb-0 text-lg font-bold"> Aplicativos seleccionados:</h4>
                        <div class="w-12 ml-3">
                            <div class="flex" *ngFor="let item of lstaplicativosSeleccionados">
                                <b> <p-button pButton pRipple type="button" severity="danger" icon="pi pi-minus" text
                                        rounded></p-button> <span (click)="onVerAplicativoSeleccionado(item)"
                                        style="cursor: pointer;">{{item.label}}</span> </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 div-accesos-perfil">
                    <h4 class="w-12 mb-0 text-lg font-bold"> Accesos del aplicativo: <span class="text-green-500">
                            {{nombreAplicativoSeleccionado}}</span></h4>
                    <div class="flex">
                        <p-tree [value]="aplicativoSeleccionado" styleClass="w-full md:w-[30rem]"
                            selectionMode="checkbox" />
                    </div>
                </div>

                <!-- <div class="col-9">
                    <p-table [value]="optDetallePerfiles.controls" [selectionPageOnly]="false" [paginator]="true"
                        styleClass="p-datatable-gridlines" [rows]="cntRegistros" [showCurrentPageReport]="true"
                        [rowHover]="true" [paginator]="true" selectionMode="single" showGridlines class="w-12"
                        [tableStyle]="{'min-width': '50rem' }"
                        currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros" dataKey="id"
                        editMode="row" responsiveLayout="scroll" [showCurrentPageReport]="true"
                        [resizableColumns]="true" [rowsPerPageOptions]="[ 5,10, 25, 50]" [scrollable]="true"
                        scrollDirection="horizontal" [scrollHeight]="'auto'">
                        <ng-template #header>
                            <tr>
                                <th class="w-1">Acciones</th>
                                <th>Nro</th>
                                <th>Compañia</th>
                                <th>Sucursal</th>
                                <th>Gerencia</th>
                                <th>Centro De Costo</th>
                                <th>Perfil</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-data let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="data">
                                <td>
                                    <div class="flex items-center justify-center gap-2">
                                        <p-button *ngIf="!editing" pButton pRipple type="button" severity="danger"
                                            icon="pi pi-minus" text rounded
                                            (onClick)="eliminarYReordenarDetallePerfiles(data.value.uuidv4)"></p-button>
                                    </div>
                                </td>
                                <td [pEditableColumn]="data.value.ordenVista" pEditableColumnField="ordenVista">
                                    <p-cellEditor>
                                        <ng-template #input>
                                            {{data.value.ordenVista}}
                                        </ng-template>
                                        <ng-template #output>
                                            {{data.value.ordenVista}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td [pEditableColumn]="data.value.companiaCod" pEditableColumnField="companiaCod">
                                    <p-cellEditor>
                                        <ng-template #input>
                                            <p-select placeholder="Seleccione" [options]="lstCompanias" appendTo="body"
                                                optionLabel="descripcion" optionValue="codigo"
                                                (onChange)="onAsignarDescripcionDetalle($event, data,'COMPANIA')"
                                                formControlName="companiaCod" [style]="{'width':'100%', }" />
                                        </ng-template>
                                        <ng-template #output>
                                            {{data.value.companiaNom}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td [pEditableColumn]="data.value.sucursalCod" pEditableColumnField="sucursalCod">
                                    <p-cellEditor>
                                        <ng-template #input>
                                            <p-select placeholder="Seleccione" [options]="lstEstados" appendTo="body"
                                                optionLabel="descripcion" optionValue="codigo"
                                                (onChange)="onAsignarDescripcionDetalle($event, data,'SUCURSAL')"
                                                formControlName="sucursalCod" [style]="{'width':'100%'}" />
                                        </ng-template>
                                        <ng-template #output>
                                            {{data.value.sucursalNom}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td [pEditableColumn]="data.value.gerenciaCod" pEditableColumnField="gerenciaCod">
                                    <p-cellEditor>
                                        <ng-template #input>
                                            <p-select placeholder="Seleccione" [options]="lstEstados" appendTo="body"
                                                optionLabel="descripcion" optionValue="codigo"
                                                (onChange)="onAsignarDescripcionDetalle($event, data,'GERENCIA')"
                                                formControlName="gerenciaCod" [style]="{'width':'100%'}" />
                                        </ng-template>
                                        <ng-template #output>
                                            {{data.value.gerenciaNom}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td [pEditableColumn]="data.value.centroCostoCod" pEditableColumnField="centroCostoCod">
                                    <p-cellEditor>
                                        <ng-template #input>
                                            <p-select placeholder="Seleccione" [options]="lstEstados" appendTo="body"
                                                optionLabel="descripcion" optionValue="codigo"
                                                (onChange)="onAsignarDescripcionDetalle($event, data,'CENTROCOSTO')"
                                                formControlName="centroCostoCod" [style]="{'width':'100%'}" />
                                        </ng-template>
                                        <ng-template #output>
                                            {{data.value.centroCostoNom}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td [pEditableColumn]="data.value.perfilCod" pEditableColumnField="perfilCod">
                                    <p-cellEditor>
                                        <ng-template #input>
                                            <p-select placeholder="Seleccione" [options]="lstEstados" appendTo="body"
                                                optionLabel="descripcion" optionValue="codigo"
                                                (onChange)="onAsignarDescripcionDetalle($event, data,'PERFIL')"
                                                formControlName="perfilCod" [style]="{'width':'100%'}" />
                                        </ng-template>
                                        <ng-template #output>
                                            {{data.value.perfilNom}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #paginatorleft>
                            <p-button label="Agregar línea" icon="pi pi-plus" text
                                (onClick)="agregarLineaDetallePerfiles()" />
                        </ng-template>
                    </p-table>
                </div>
                <div class=" col-3 div-accesos-perfil">
                    <h4 class="w-12 mb-0 text-lg font-bold"> Accesos del Perfil</h4>
                    <p-tree [value]="lstVisualizarPerfil" styleClass="w-full md:w-[30rem]" />
                </div> -->
            </section>
        </p-fieldset>
    </div>

    <div class="flex flex-wrap justify-content-between">
        <!-- <app-log-modificaciones [componente]="this"></app-log-modificaciones> -->
        <p-fieldset [styleClass]="'font-bold'" legend="Log de modificaciones" *ngIf="visualizarLogMoficaciones">
            <div class="flex flex-column">
                <div class="flex">
                    <p-avatar label="P" styleClass="mr-2" size="large" shape="circle" />
                    <div class="w-11 ml-1">
                        <div class="text-400">Nota de <strong class="text-blue-700">Administrator</strong> - hace 4
                            días
                        </div>
                        <div class="font-medium"><strong class="font-bold">Se agregó un nuevo misceláneo:</strong>
                            Sucursal - SEG - Clínica el golf <strong class="font-bold">Fecha y hora:</strong>
                            2025-04-07
                            12:34:04</div>
                    </div>
                </div>
                <p-divider align="center" type="dotted">
                    <b>28 de enero de 2025</b>
                </p-divider>
            </div>
        </p-fieldset>
    </div>
    <ng-template #footer>

        <div class="gap-2">
            <p-button icon="pi pi-users" severity="secondary" class="mr-2" label="{{'Auditoria' | titlecase}}" raised
                *ngIf="accion != 'AGREGAR'" (onClick)="btnLogAuditoria()" />
            <p-button
                icon="pi {{!bloquearComponente ?  accion == 'AGREGAR' ? 'pi-plus':'pi-pencil': 'pi-spin pi-spinner' }}"
                class="ml-2" label="{{accion | titlecase}}" raised *ngIf="accion != 'VER'"
                (onClick)="btnAccionForm()" />
        </div>
    </ng-template>
    <!-- </p-dialog> -->
</p-dialog>