<p-blockUI  [baseZIndex]="2000" [blocked]="bloquearPag"  >
    <img  src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI >
<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>
<p-card>
    <div class="row">
        <div class="col-sm-4">
            <h4 class="titulonuevo">Asistencia</h4>
        </div>
        <br>
        <br>
        <br>
        <div class="col-sm-2" style="background-color: transparent;"></div>
        <div class="col-sm-6" style="background-color: transparent;" aria-orientation="horizontal">
            <button pButton icon="fa fa-search" type="button" title="Buscar" label="Buscar" class="p-button-secondary"
                (click)="coreBuscar()"></button>
            <button pButton icon="fa fa-file" type="button" title="Nuevo" label="Nuevo" class="p-button-secondary"
                (click)="coreNuevo()"></button>
            <button pButton icon="fa fa-file-pdf" type="button" title="Exportar" label="Exportar"
                class="p-button-secondary" (click)="exportExcel()"></button>
        </div>
    </div>
    <p-fieldset legend="Información Consulta">

        <div class="row">
            <div class="col-sm-12">
                <label class="label">Empleado</label>
                <div class="p-inputgroup">
                    <div class="p-inputgroup">
                        <input pInputText type="text" (keydown)="validarTeclaEnterRepresentante($event)"
                            [disabled]="editarrepresen"
                            class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                            [(ngModel)]="FiltroAsistencia.documento"
                            style="width:70%; background-color: rgb(247, 247, 208); height: 30px;" />
                        &nbsp;
                        <input pInputText type="text" [(ngModel)]="FiltroAsistencia.nombrecompleto"
                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                            style="width:130%; background-color: rgb(247, 247, 208); height: 30px;" [disabled]="true" />

                        <div class="input-group-append">
                            <button pButton icon="fal fa-trash-alt" type="button" title="Limpiar"
                                (click)="limpiarDocumento()" [disabled]="isSupervidor">
                            </button>
                        </div>
                    </div>                   
                    <button (click)="verSelectorDocumento('COMISIONISTA')" pButton icon="fal fa-search" class="botonbuscar"
                        [disabled]="isSupervidor" type="button" title="Buscar Representante"></button>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label class="label">Fecha Inicio</label>
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{ width: '100%' }"
                    [inputStyle]="{ width: '100%' }" yearRange="1940:2200" [locale]="es"
                    [(ngModel)]="fechaInicio" dateFormat="dd/mm/yy" [showIcon]="true">
                </p-calendar>

            </div>
            <div class="col-sm-6">
                <label class="label">Fecha Fin</label>
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{ width: '100%' }"
                    [inputStyle]="{ width: '100%' }" yearRange="1940:2200" [locale]="es"
                    [(ngModel)]="fechaFin" dateFormat="dd/mm/yy" [showIcon]="true">
                </p-calendar>

               
            </div>
        </div>
    </p-fieldset>
    <p-fieldset legend="Información Consulta">
        <p-table #dt [rows]="10" [paginator]="true" [rowHover]="true" dataKey="tipousuario" [value]="dto"
            [responsive]="true" [sortOrder]="-1" sortField="FechaMarcacion"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th class="tablaHeaderCheckBox">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
                    <th pSortableColumn="FechaMarcacion" class="label" ALIGN="center" style="width: 5rem;">Fecha
                        <p-sortIcon field="FechaMarcacion"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="documento" class="label" ALIGN="center" style="width: 8rem;">
                        Documento<p-sortIcon field="documento"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nombrecompleto" class="label" ALIGN="center" style="width: 10rem;">Empleado<p-sortIcon
                            field="nombrecompleto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="TipoMarcacion" class="label" ALIGN="center" style="width: 5rem;">Tipo H<p-sortIcon
                            field="TipoMarcacion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tablaColumnaCodigoChico" class="label" ALIGN="center" style="width: 5rem;">Hora<p-sortIcon
                            field="tablaColumnaCodigoChico"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-asignarPerfil>
                <tr>
                    <td class="tablaColumnaCheckBox">
                        <p-tableCheckbox [value]="asignarPerfil"></p-tableCheckbox>
                    </td>
                    <td class="tablaColumnaAccion3">
                        <span class="p-column-title">Acción</span>
                        <table>
                            <tr>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-search"
                                        (click)="coreVer(asignarPerfil)" class="p-button-rounded p-button-text"
                                        title="Ver"></button>
                                </th>
                            </tr>
                        </table>
                    </td>
                    <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
                        {{asignarPerfil.FechaMarcacion | date: 'dd/MM/yyyy'}}</td>
                    <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 8rem;">{{asignarPerfil.documento}}
                    </td>
                    <td class="tablaColumnaNombreChico" ALIGN="center" style="width: 10rem;">
                        <span>{{asignarPerfil.nombrecompleto}}</span>
                    </td>
                    <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
                        {{asignarPerfil.TipoMarcacion }}</td>
                    <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
                        {{asignarPerfil.FechaMarcacion | date: 'shortTime'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
</p-card>
<p-toast key="cm" [baseZIndex]="3000"></p-toast>
<ngx-persona-buscar></ngx-persona-buscar>
<ngx-asistencia-mantenimiento></ngx-asistencia-mantenimiento>