<p-blockUI [blocked]="bloquearPag" [baseZIndex]="2000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '1000px', minWidth: '200px'}" [header]="acciones" [position]="position" [maximizable]="true"
    [baseZIndex]="1000">


    <ng-template pTemplate="content">
        <br>
        <p-fieldset legend=" ">
            <div class="row">
                <div class="col-sm-12">
                    <label class="label">Promotor de Eventos</label>
                    <div class="p-inputgroup">
                        <div class="p-inputgroup">
                            <input pInputText type="text" (keydown)="validarTeclaEnterRepresentante($event)"
                                [disabled]="true"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                [(ngModel)]="dto.Documento"
                                style="width:70%; background-color: rgb(247, 247, 208); height: 30px;" />
                            &nbsp;
                            <input pInputText type="text"
                                class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                [(ngModel)]="dto.NombreCompleto"
                                style="width:130%; background-color: rgb(247, 247, 208); height: 30px;"
                                [disabled]="true" />

                            <div class="input-group-append">
                                <button pButton icon="fad fa-minus-circle" type="button" title="Limpiar"
                                    (click)="limpiarDocumento()" [disabled]="puedeEditar">
                                </button>
                            </div>
                        </div>

                        <button (click)="verSelectorPersona()" pButton icon="fal fa-search" class="botonbuscar"
                            [disabled]="puedeEditar" type="button" title="Buscar Empresa"></button>
                        <!-- <button (click)="crearPersona()" pButton icon="fal fa-user-plus" class="botonbuscar"
                            [disabled]="puedeEditar" type="button" title="Nueva Empresa"></button> -->
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label">Compañia</label>
                        <p-dropdown [disabled]="puedeEditar" (onChange)="selectedItemcompania($event)" class="drop-down"
                            [options]="lstCompania" [(ngModel)]="dto.CompaniaCodigo"
                            [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label">Sucursal</label>
                        <p-dropdown [disabled]="puedeEditar" (onChange)="selectedItemcompania($event)" class="drop-down"
                            [options]="lstSucursal" [(ngModel)]="dto.IdSede"
                            [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="label">Nombre del programa</label>
                        <input pInputText type="text" [(ngModel)]="dto.Nombre" [disabled]="puedeEditar"
                            [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}"
                            class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                            style="width:100%; " />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Area M2</label>
                        <p-inputNumber [locale]="locale" (onBlur)="MontoTotalEvnArea($event)" [(ngModel)]="dto.Area"
                            mode="decimal" [disabled]="puedeEditar"
                            [inputStyle]="{'width':'100%','text-align': 'right','background-color': 'rgb(247, 247, 208)'}"
                            [style]="{'width':'100%'}" [maxFractionDigits]="2" [minFractionDigits]="2">
                        </p-inputNumber>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Precio por M2</label>
                        <p-inputNumber [locale]="locale" (onBlur)="MontoTotalEvnPrecio($event)" [(ngModel)]="dto.Precio"
                            mode="decimal" [disabled]="puedeEditar"
                            [inputStyle]="{'width':'100%','text-align': 'right','background-color': 'rgb(247, 247, 208)'}"
                            [style]="{'width':'100%'}" [maxFractionDigits]="2" [minFractionDigits]="2">
                        </p-inputNumber>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Monto Total</label>
                        <p-inputNumber [locale]="locale" [(ngModel)]="dto.MontoTotal" mode="decimal" [disabled]="true"
                            [inputStyle]="{'width':'100%','text-align': 'right'}" [style]="{'width':'100%'}"
                            [maxFractionDigits]="2" [minFractionDigits]="2">
                        </p-inputNumber>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Tipos de moneda</label>
                        <p-dropdown [disabled]="puedeEditar"
                            [style]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"
                            [(ngModel)]="dto.MonedaCodigo" [options]="lstMoneda">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Total de cuotas</label>
                        <p-inputNumber [locale]="locale" [(ngModel)]="dto.TotalCuota" mode="decimal"
                            [inputStyle]="{'width':'100%','text-align': 'right'}" [style]="{'width':'100%'}"
                            [maxFractionDigits]="0" [minFractionDigits]="0" [disabled]="puedeEditar">
                        </p-inputNumber>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Monto Inicial</label>
                        <p-inputNumber [locale]="locale" [(ngModel)]="dto.MontoInicial" mode="decimal"
                            [disabled]="puedeEditar" [inputStyle]="{'width':'100%','text-align': 'right'}"
                            [style]="{'width':'100%'}" [maxFractionDigits]="0" [minFractionDigits]="0">
                        </p-inputNumber>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Departamento</label>
                        <p-dropdown [options]="lstDepartamento" [disabled]="puedeEditar" [(ngModel)]="dto.Departamento"
                            (onChange)="selectedItemDepartamento($event)" [baseZIndex]="20000" appendTo="body"
                            [style]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Provincia</label>
                        <p-dropdown [options]="lstProvincia" [disabled]="puedeEditar" [(ngModel)]="dto.Provincia"
                            [style]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"
                            (onChange)="selectedItemProvincia($event)" [baseZIndex]="20000" appendTo="body">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Distrito</label>
                        <p-dropdown [options]="lstDistrito" [disabled]="puedeEditar" [baseZIndex]="20000"
                            appendTo="body" [style]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"
                            [(ngModel)]="dto.Distrito">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Estado</label>
                        <p-dropdown [options]="lstEstados" [disabled]="puedeEditar"
                            [style]="{'width':'100%', 'background-color':'rgb(247, 247, 208)'}"
                            [(ngModel)]="dto.Estado">
                        </p-dropdown>
                    </div>
                </div>
            </div>

        </p-fieldset>
        <br>
        <p-fieldset legend="Auditoria">
            <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                [modificacionFecha]="fechaModificacion"></ngx-auditoria>
        </p-fieldset>

    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar()"></p-button>
    </ng-template>


</p-dialog>

<ngx-persona-buscar></ngx-persona-buscar>
<ngx-persona-mantenimiento></ngx-persona-mantenimiento>

<p-toast key="bc" [baseZIndex]="3000"></p-toast>