<p-blockUI [blocked]="bloquearPag">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>
<p-card>
    <div class="row">
        <div class="col-sm-4">
            <h4 class="titulonuevo">Egreso</h4>
        </div>
        <br>
        <br>
        <br>
        <div class="col-sm-2" style="background-color: transparent;"></div>
        <div class="col-sm-6" style="background-color: transparent;" aria-orientation="horizontal">
            <button pButton icon="fa fa-search" type="button" title="Buscar" label="Buscar" class="p-button-secondary"
                (click)="coreBuscar()"></button>
            <button pButton icon="fa fa-file" type="button" title="Nuevo" label="Nuevo" class="p-button-secondary"
                (click)="coreNuevo()"></button>
            <p-splitButton label="Exportar" icon="fa fa-file-pdf" (onClick)="exportExcel()"
                styleClass="p-button-text p-button-secondary" [model]="ltsExportar"></p-splitButton>
        </div>
    </div>
    <p-fieldset legend="Información Consulta">
        <div class="row">

            <!-- <div class="col-sm-4">
                <label class="label">Tipo de Comprobante:</label>
                <p-dropdown [(ngModel)]="filtro.TipoComprobante" [options]="lstTipoComprobante"
                    [style]="{'width':'100%'}"></p-dropdown>
            </div> -->
            <div class="col-sm-4">
                <label for="inputOrdAten" class="label">N° Documento</label>
                <input pInputText type="text" [(ngModel)]="filtro.Documento" placeholder="" style="width:100%; height: 30px;" />
            </div>
            <div class="col-sm-4">
                <label for="inputOrdAten" class="label">Empleado</label>
                <input pInputText type="text" [(ngModel)]="filtro.Empleado"  placeholder="" style="width:100%; height: 30px;" />
            </div>
            <div class="col-sm-4">
                <label class="label">Fecha Inicio</label>
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}" [(ngModel)]="filtro.FechaRegistro "
                    [inputStyle]="{'width':'100%'}" yearRange="1940:2200" [locale]="es" dateFormat="dd/mm/yy"
                    [showIcon]="true">
                </p-calendar>
            </div>
            <div class="col-sm-4">
                <label class="label">Fecha Fin</label>
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}" [(ngModel)]="filtro.FechaCreacion"
                    [inputStyle]="{'width':'100%'}" yearRange="1940:2200" [locale]="es" dateFormat="dd/mm/yy"
                    [showIcon]="true">
                </p-calendar>
            </div>
            <div class="col-sm-4">
                <label class="label">Estado:</label>
                <p-dropdown [(ngModel)]="filtro.Estado" [options]="lstEstados"
                    [style]="{'width':'100%'}"></p-dropdown>
            </div>
            
        </div>
    </p-fieldset>

    <br>

    <p-fieldset legend="Información Consulta">
        <p-table id="contenido" #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstEgreso"
            [responsive]="true" [sortOrder]="1" sortField="num"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [scrollable]="true"
            selectionMode="single" [rowsPerPageOptions]="[15, 30, 50]" [showCurrentPageReport]="true"
            [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="header">
                <tr>
                    <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
                    <th pSortableColumn="num" class="label" ALIGN="center" style="width: 5rem;">Nro <p-sortIcon
                            field="num"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="FechaCreacion" class="label" ALIGN="center"
                        style="width: 7rem; text-align: center">
                        Fecha<p-sortIcon field="FechaCreacion"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="Documento" ALIGN="center"
                        style="width: 10rem; text-align: center;">
                        Documento<p-sortIcon field="Documento"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Empleado" class="label" ALIGN="center"
                        style="width: 10rem; text-align: center;">
                        Empleado<p-sortIcon field="Empleado"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="MontoAfecto" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        SUB-Total<p-sortIcon field="MontoAfecto"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="MontoImpuesto" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        IGV<p-sortIcon field="MontoImpuesto"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="MontoTotal" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        TOTAL<p-sortIcon field="MontoTotal"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="DesEstado" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        Estado<p-sortIcon field="DesEstado"></p-sortIcon>
                    </th>
                   
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData">
                    <!-- <td class="tablaColumnaCheckBox">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td> -->
                    <td class="tablaColumnaAccion3">
                        <span class="p-column-title">Acción</span>
                        <table>
                            <tr>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                        class="p-button-rounded p-button-text" title="Editar" *ngIf="rowData.Estado != 3 && rowData.Estado != 8"
                                        (click)="coreEditar(rowData)"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-search"
                                        (click)="coreVer(rowData)" class="p-button-rounded p-button-text"
                                        title="Ver"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-minus-circle" [disabled]=""
                                        class="p-button-rounded p-button-text" title="Anular" *ngIf="rowData.Estado != 8"
                                        (click)="coreinactivar(rowData)"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="pi pi-check"
                                        class="p-button-rounded p-button-text" title="Aprobar"  *ngIf="rowData.Estado != 3"
                                        (click)="coreAprobar(rowData)"></button>
                                </th>
                            </tr>
                        </table>
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
                        <span class="p-column-title">Nro</span>
                        {{ rowData.num}}
                    </td>
                    <td class=" tablaColumnaCodigoChico text-center" style="width: 7rem;">
                        <span class="p-column-title">Fecha</span>
                        {{ rowData.FechaCreacion | date : "dd/MM/yyyy" }}
                    </td>

       
                    <td class=" tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;">
                        <span class="p-column-title">Documento</span>
                        {{ rowData.Documento | uppercase }}
                    </td>
                    <td class=" tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;">
                        <span class="p-column-title">Empleado</span>
                        {{ rowData.Empleado | uppercase }}
                    </td>

                    <td class=" tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
                        <span class="p-column-title">SUB-Total</span>
                        {{ rowData.MontoAfecto | number:'1.2-2'}}
                    </td>
                    <td class=" tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
                        <span class="p-column-title">IGV</span>
                        {{ rowData.MontoImpuesto | number:'1.2-2'}}
                    </td>
                    <td class=" tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
                        <span class="p-column-title">Total</span>
                        {{ rowData.MontoTotal | number:'1.2-2'}}
                    </td>
                    <td class=" tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
                        <span class="p-column-title">Estado</span>
                        {{ rowData.DesEstado | uppercase}}
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>

   
</p-card>
<p-toast key="bc" [baseZIndex]="4000"></p-toast>
<ngx-egreso-mantenimiento></ngx-egreso-mantenimiento>