<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-sidebar [(visible)]="mostrarFiltros" position="right" blockScroll="false" modal="false" [style]="{ width: '20vw'}">
    <br><br>
    <h3>Filtros</h3>

    <br>
    <p-fieldset legend="">
        <div class="row">
            <div class="col-sm-12">
                <label class="label">Fecha inicio</label>
                <div class="p-inputgroup">
                        <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="filtroCon.FechaCreacion" class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                        ></p-calendar>
                </div>
            </div>
            <div class="col-sm-12">
                <label class="label">Fecha Fin</label>
                <div class="p-inputgroup">
                        <p-calendar appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="filtroCon.FechaModificacion"  class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                        ></p-calendar>
                </div>
            </div>
            <br>
            <div class="col-sm-12 d-flex justify-content-end mt-3">
                <p-button label="Buscar" [loading]="loadingBtnBuscar" [style]="{'padding':'0.9rem 1rem'}" (click)="corebuscar()"></p-button>
            </div>
        </div>
    </p-fieldset>
</p-sidebar>

<div class="row ">
    <div class="col-sm-11 d-flex justify-content-end">
        <p-button (click)="mostrarFiltros = true" [style]="{'padding':'0.9rem 1rem'}" icon="pi pi-th-large"></p-button>
    </div>
</div>

<div class="row"
    [style]="{'background-color': 'rgb(255, 255, 255)', 'border-radius': '15px', 'padding': '10px', 'margin': '10px 10px'}">
    <div class="col">
        <div class="grid gap-3">
            <div class="p-1 g-col-6">
                <label for="" class="mb-3">
                    <i class="pi pi-user" style="font-size: 1rem"></i>
                    Total de Proyectos
                </label>
            </div>
            <div class="p-0 g-col-6 d-flex justify-content-center">
                <p-knob  appendTo="body" [max]="CantProyec"  [(ngModel)]="CantProyec" [readonly]="true" size="100" thickness="0.3"></p-knob>
            </div>
            <div class="p-1 g-col-6"><label for="" class="mb-3"></label></div>
        </div>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="col">
        <div class="grid gap-3">
            <div class="p-1 g-col-6">
                <label for="" class="mb-3">
                    <i class="pi pi-user" style="font-size: 1rem"></i>
                    Total de Lotes
                </label>
            </div>
            <div class="p-0 g-col-6 d-flex justify-content-center">
                <p-knob  appendTo="body"[max]="CantLote" [(ngModel)]="CantLote" [readonly]="true" size="100" thickness="0.3"></p-knob>
            </div>
            <div class="p-1 g-col-6"><label for="" class="mb-3"></label></div>
        </div>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="col">
        <div class="grid gap-3">
            <div class="p-1 g-col-6">
                <label for="" class="mb-3">
                    <i class="pi pi-user" style="font-size: 1rem"></i>
                    Lotes vendidos
                </label>
            </div>
            <div class="p-0 g-col-6 d-flex justify-content-center">
                <p-knob [max]="CantLote" [(ngModel)]="CantContrato" [readonly]="true"></p-knob>
            </div>
            <div class="p-1 g-col-6"><label for="" class="mb-3"></label></div>
        </div>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="col">
        <div class="grid gap-3">
            <div class="p-1 g-col-6">
                <label for="" class="mb-3">
                    <i class="pi pi-user" style="font-size: 1rem"></i>
                    Lotes Libres
                </label>
            </div>
            <div class="p-0 g-col-6 d-flex justify-content-center">
                <p-knob [max]="CantLote" [(ngModel)]="CantLoteLib" [readonly]="true"></p-knob>
            </div>
            <div class="p-1 g-col-6"><label for="" class="mb-3"></label></div>
        </div>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="col">
        <div class="grid gap-3">
            <div class="p-1 g-col-6">
                <label for="" class="mb-3">
                    <i class="pi pi-user" style="font-size: 1rem"></i>
                    Cuotas Pagadas
                </label>
            </div>
            <div class="p-0 g-col-6 d-flex justify-content-center">
                <p-knob  appendTo="body" [max]="CantLetra" [(ngModel)]="CantLetraPag" [readonly]="true"></p-knob>
            </div>
            <div class="p-1 g-col-6"><label for="" class="mb-3" [style]="{'white-space': 'nowrap'}"><span
                        [style]="{'color':'red'}"> <i class="pi pi-angle-down" style="font-size: 1rem"></i>
                        {{CantLetraAtra | number:"2.1-1"}}% </span> atrazadas </label></div>
        </div>
    </div>
</div>


<div class="row d-flex justify-content-between">
    <div class="col-sm-8">
        <p-panel>
            <ng-template pTemplate="header"> 
                <div class="col-sm-12 d-flex justify-content-between">
                    <span class="text-primary font-semibold text-xl">Montos Cuotas</span>
                    <p-button icon="pi pi-cloud-download"
                        styleClass="p-button-rounded p-button-success p-button-text"></p-button>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <p-chart type="bar" [data]="dataPrimerGrafico" [options]="optionsPrimerGrafico"></p-chart>
            </ng-template>
        </p-panel>
    </div>
<!--     <div class="col-sm-4">
        <p-panel>
            <ng-template pTemplate="header">
                <div class="col-sm-12 d-flex justify-content-between">
                    <span class="text-primary font-semibold text-xl">Montos Interes</span>
                    <p-button icon="pi pi-cloud-download"
                        styleClass="p-button-rounded p-button-success p-button-text"></p-button>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <p-chart type="doughnut" [data]="dataSegundoGrafico" [options]="optionsSegundoGrafico"></p-chart>
            </ng-template>
        </p-panel>
    </div> -->
    <div class="col-sm-4">
        <p-panel>
            <ng-template pTemplate="header">
                <div class="col-sm-12 d-flex justify-content-between">
                    <span class="text-primary font-semibold text-xl">Ranking Ventas</span>
                    <p-button icon="pi pi-cloud-download"
                        styleClass="p-button-rounded p-button-success p-button-text"></p-button>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="row" *ngFor="let persona of lstMonto; let i = index">
                    <ng-container *ngIf="i < 5">
                        <div class="col-sm-12">
                            <label for="">{{persona.Nombre}}</label>
                            <p-progressBar [value]="persona.SumContrato" unit=" " [style]="{'height':'20px'}"
                                color="blue"></p-progressBar>
                        </div>
                    </ng-container>
                </div>
            </ng-template>
        </p-panel>
    </div>
</div>