<p-blockUI [blocked]="bloquearPag" [baseZIndex]="2000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
  </p-blockUI>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '850px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="2000">

    <ng-template pTemplate="content">
        <br>
        <p-fieldset legend="Información General">
          
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="label">Compañia</label>
                                <p-dropdown placeholder="Seleccione" [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}" [(ngModel)]="dto.CompaniaCodigo"
                                    [options]="lstCompania" [disabled]="puedeEditar" ></p-dropdown>
                            
                        </div>
                        <div class="col-sm-6">
                            <label class="label">Banco</label>
                            <p-dropdown [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}" [options]="lstBancos" [filter]="true" 
                            [(ngModel)]="dto.Banco" [disabled]="puedeEditar" >
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="label">Nro de Cuenta</label>
                           <input pInputText type="text" [(ngModel)]="dto.Descripcion" [disabled]="puedeEditar" 
                           [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}"    />                            
                        </div>
                        <div class="col-sm-6">
                            <label class="label">Moneda</label>
                            <p-dropdown [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}" [options]="lstMoneda" [filter]="true" 
                            [(ngModel)]="dto.MonedaCodigo" [disabled]="puedeEditar" >
                            </p-dropdown>
                        </div>
                        

                        <!-- <div class="col-sm-6">
                            <label class="label">Moneda</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                                <p-dropdown [style]="{'width':'100%','text-transform': 'uppercase'}" [options]="lstMoneda"
                                    [(ngModel)]="dto.MonedaCodigo" [disabled]="puedeEditar" >
                                </p-dropdown>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="label">Estado</label>
                                <p-dropdown [options]="lstEstados" [(ngModel)]="dto.Estado"  [disabled]="puedeEditar" [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}" >
                                </p-dropdown>
                                               
                        </div>
                        <div class="col-sm-6">
                           
                        </div>
                    </div>
                </div>
            </div>

        </p-fieldset>
        <br>
        <p-fieldset legend="Auditoria">
            <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
            [modificacionFecha]="fechaModificacion"></ngx-auditoria>
        </p-fieldset>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" *ngIf="!puedeEditar" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar()"></p-button>
    </ng-template>

</p-dialog>
<p-toast key="bc" [baseZIndex]="2000"></p-toast>
