<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '1250px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="1000">
    <br>
    <ng-template pTemplate="content">
        <div class="row">
            <div class="col-sm-3">
                <p-fieldset legend="Contrato">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="label">Cliente</label>
                                    <div class="p-inputgroup">
                                        <input pInputText type="text" [readOnly]="true" [(ngModel)]="contrato.Documento"
                                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                            style="width:130%; background-color: rgb(255, 255, 255); height: 30px; width: 30%;  " />
                                        <input pInputText type="text" [readOnly]="true" [(ngModel)]="contrato.Cliente"
                                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                            style="width:130%; background-color: rgb(255, 255, 255); height: 30px;" />
                                        <div class="input-group-append">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="label">Compañia</label>
                                    <input [readOnly]="true" pInputText type="text"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:100%;" [(ngModel)]="contrato.DescripcionCorta" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="label">Programa</label>
                                    <input [readOnly]="true" pInputText type="text"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:100%;" [(ngModel)]="contrato.NomProyecto" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="label">Manzana</label>
                                    <div class="p-inputgroup">
                                        <input [readOnly]="true" pInputText type="text"
                                            class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                            style="width:100%;" [(ngModel)]="contrato.NomManzana" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="label">Lote</label>
                                    <div class="p-inputgroup">
                                        <input [readOnly]="true" pInputText type="text"
                                            class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                            style="width:100%;" [(ngModel)]="contrato.lote" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row text-right">
                        <div class="col-sm-12">
                            <p-button label="{{validarform | titlecase}}" icon="pi pi-save"
                                styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
                                (click)="corePagar()"></p-button>
                            <p-button label="Borrar" icon="pi pi-minus-circle" styleClass="p-button-primary"
                                [disabled]="puedeEditar" type="submit" (click)="coreLimpiar()"></p-button>
                        </div>
                    </div>
                </p-fieldset>
            </div>

            <div class="col-sm-9">
                <p-fieldset legend="Programa Registro">
                    <br>
                    <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstInteres"
                        [responsive]="true" [sortOrder]="1" sortField="num" [(selection)]="lstSeleccionadomultiple"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                        [rowsPerPageOptions]="[25, 50, 100]" [showCurrentPageReport]="true" [scrollable]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="tablaHeaderCheckBox">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th class="tablaHeaderAccion3 label" ALIGN="center" >Acciones</th>
                               
                                <th pSortableColumn="num" class="label" ALIGN="center" style="width: 3rem;">Nro
                                    <p-sortIcon field="num"> </p-sortIcon>
                                </th>
                                <th pSortableColumn="Perfil" class="label" ALIGN="center"
                                    style="width: 9rem; text-align: center">
                                    Fecha de Vencimiento<p-sortIcon field="Perfil"></p-sortIcon>
                                </th>
                                <th class="label" pSortableColumn="CostoTotal" ALIGN="center"
                                    style="width: 6rem; text-align: center;">
                                    Monto<p-sortIcon field="CostoTotal"></p-sortIcon>
                                </th>
                                <th pSortableColumn="Observacion" class="label" ALIGN="center"
                                    style="width: 10rem; text-align: center;">
                                    Letra(s)<p-sortIcon field="Observacion"></p-sortIcon>
                                </th>
                                <th pSortableColumn="FechaPago" class="label" ALIGN="tablaHeaderFecha"
                                    style="width: 8rem; text-align: center;">
                                    Fecha Pago<p-sortIcon field="FechaPago"></p-sortIcon>
                                </th>
                                <th pSortableColumn="DiasMora" class="label" ALIGN="center"
                                    style="width: 5rem; text-align: center;">Días de Mora<p-sortIcon
                                        field="DiasMora"></p-sortIcon>
                                </th>
                                <th pSortableColumn="DesEstado" class="label" ALIGN="center"
                                    style="width: 5rem; text-align: center;">Estado<p-sortIcon
                                        field="DesEstado"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr (dblclick)="verInteresesRefinanciados(rowData)">
                                <td class="tablaColumnaCheckBox">
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                                <td class="tablaColumnaAccion3">
                                    <span class="p-column-title">Acción</span>
                                    <table>
                                        <tr>             
                                            <th>
                                              <button pButton pRipple type="button"  icon="fad fa-clone" class="p-button-rounded p-button-text"
                                               (click)="coredividir(rowData)" title="Dividir"></button> 
                                          </th>
                                        </tr>
                                    </table>
                                </td>
                                <td class="tablaColumnaCodigoChico text-center" style="width: 3rem;">
                                    <span class="p-column-title">Nro</span>
                                    {{ rowData.num}}
                                </td>
                                <td class="tablaColumnaCodigoChico text-center"
                                    style="width: 9rem; text-align: center;">
                                    <span class="p-column-title">Fecha Vencimiento</span>
                                    {{ rowData.FechaVencimiento | date : "dd/MM/yyyy" }}
                                </td>
                                <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
                                    <span class="p-column-title">Monto</span>
                                    {{ rowData.TotalMora | number:'1.2-2'}}
                                </td>
                                <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;">
                                    <span class="p-column-title">Letra(s)</span>
                                    {{ rowData.Observacion |uppercase }}
                                </td>
                                <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem;">
                                    <span class="p-column-title">FechaPago</span>
                                    {{ rowData.FechaPago | date : "dd/MM/yyyy" }}
                                </td>

                                <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
                                    <span class="p-column-title">Días de Mora</span>
                                    {{ rowData.DiasMora | number:'1.0-0'}}
                                </td>
                                <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
                                    <span class="p-column-title">Estado</span>
                                    {{ rowData.DesEstado |uppercase }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-fieldset>
                <br>
                <p-fieldset legend="Intereses Refinanciados" *ngIf="esRefinanciar == true">
                    <ng-template pTemplate="header">
                        <p-button label="x" styleClass="p-button-secondary"
                            (click)="cerrarInteresRefinanciado()"></p-button>
                    </ng-template>
                    <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num"
                        [value]="lstInteresRefinanciados" [responsive]="true" [sortOrder]="1" sortField="num"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                        [rowsPerPageOptions]="[25, 50, 100]" [showCurrentPageReport]="true" [scrollable]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="tablaHeaderCheckBox">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>                               
                                <th pSortableColumn="num" class="label" ALIGN="center" style="width: 3rem;">Nro
                                    <p-sortIcon field="num"> </p-sortIcon>
                                </th>
                                <th pSortableColumn="Perfil" class="label" ALIGN="center"
                                    style="width: 9rem; text-align: center">
                                    Fecha de Vencimiento<p-sortIcon field="Perfil"></p-sortIcon>
                                </th>
                                 <th class="label" pSortableColumn="CostoTotal" ALIGN="center"
                                    style="width: 6rem; text-align: center;">
                                    Monto<p-sortIcon field="CostoTotal"></p-sortIcon>
                                </th>
                                <th pSortableColumn="Observacion" class="label" ALIGN="center"
                                    style="width: 10rem; text-align: center;">
                                    Letra(s)<p-sortIcon field="Observacion"></p-sortIcon>
                                </th>
                                <th pSortableColumn="DiasMora" class="label" ALIGN="center"
                                    style="width: 5rem; text-align: center;">Días de mora<p-sortIcon
                                        field="DiasMora"></p-sortIcon>
                                </th>
                                <th pSortableColumn="DesEstado" class="label" ALIGN="center"
                                    style="width: 5rem; text-align: center;">Estado<p-sortIcon
                                        field="DesEstado"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr>
                                <td class="tablaColumnaCheckBox">
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                                <td class="tablaColumnaCodigoChico text-center" style="width: 3rem;">
                                    <span class="p-column-title">Nro</span>
                                    {{ rowData.num}}
                                </td>
                                <td class="tablaColumnaCodigoChico text-center"
                                    style="width: 9rem; text-align: center;">
                                    <span class="p-column-title">Fecha Vencimiento</span>
                                    {{ rowData.FechaVencimiento | date : "dd/MM/yyyy" }}
                                </td>
                                <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
                                    <span class="p-column-title">Monto</span>
                                    {{ rowData.TotalMora | number:'1.2-2'}}
                                </td>

                                <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;">
                                    <span class="p-column-title">Letra(s)</span>
                                    {{ rowData.Observacion |uppercase }}
                                </td>
                                <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
                                    <span class="p-column-title">Días de Mora</span>
                                    {{ rowData.DiasMora | number:'1.0-0'}}
                                </td>
                                <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
                                    <span class="p-column-title">Estado</span>
                                    {{ rowData.DesEstado |uppercase }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-fieldset>
            </div>
        </div>
    </ng-template>

</p-dialog>
<ngx-interes-pagar></ngx-interes-pagar>
<ngx-interes-control></ngx-interes-control>