<section class="card">
    <app-cabecera-vista [componente]="this"></app-cabecera-vista>

    <form class="flex flex-wrap" [formGroup]="filtroForm" (ngSubmit)="btnBuscar()">
        <div class="flex flex-col gap-2 pl-2 pr-2 md:col-4 col-12 ">
            <label for="name1">Compañia</label>
            <p-dropdown [options]="lstEstados" optionLabel="descripcion" optionValue="codigo" formControlName="ESTADO"
                placeholder="Seleccione una opción"></p-dropdown>
        </div>
        <div class="flex flex-col gap-2 pl-2 pr-2 md:col-4 col-6 ">
            <label for="name1">Aplicativo</label>
            <input pInputText id="name1" type="text" formControlName="USUARIO" />
        </div>
        <div class="flex flex-col gap-2 pl-2 pr-2 md:col-4 col-12 ">
            <label for="name1">Estado</label>
            <p-dropdown [options]="lstEstados" optionLabel="descripcion" optionValue="codigo" formControlName="ESTADO"
                placeholder="Seleccione una opción"></p-dropdown>
        </div>
        <!-- <div class="flex flex-col gap-2 pl-2 pr-2 md:col-4 col-12 ">
            <label for="name1">Fecha Creación</label>
            <p-datepicker formControlName="rangoFechaCreacion" [styleClass]="'col-12 p-0'" [iconDisplay]="'input'"
                [showIcon]="true" inputId="icondisplay" selectionMode="range" />
        </div> -->
    </form>
</section>

<section class="card">
    <p-table #dt1 [value]="lstBusqueda" [tableStyle]="{'min-width': '40rem', 'max-heigth': '50vh'}"
        [selectionPageOnly]="false" [paginator]="true" [rows]="cntRegistros" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }" [rowHover]="true" [paginator]="true" selectionMode="single"
        currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros" responsiveLayout="scroll"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[ 5,10, 25, 50]">
        <ng-template #caption>
            <div class="flex">
                <p class="text-align-center mb-0 text-xl font-semibold flex align-items-end">Resultados de Búsqueda:</p>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th class="w-1">Acciones</th>
                <th>Aplicativo</th>
                <th>Descripción</th>
                <th>Base De Datos</th>
                <th>Estado</th>
            </tr>
        </ng-template>
        <ng-template #body let-data>
            <tr>
                <td>
                    <p-button title="Editar Registro" icon="pi pi-pencil" severity="warn" rounded outlined class="ml-1"
                        (onClick)="btnMantenimientoFormulario('EDITAR',data)" />
                    <p-button title="Ver Registros" icon="pi pi-eye" severity="info" rounded outlined class="mr-1"
                        (onClick)="btnMantenimientoFormulario('VER',data)" />
                    <p-button title="Inactivar Registro" icon="pi pi-unlock" severity="warn" rounded outlined
                        class="ml-1" (onClick)="btnInactivarRegistro($event, data)" />
                </td>
                <td>{{data.nombreAplicativo | titlecase}}</td>
                <td>{{data.descripcion | titlecase}}</td>
                <td>{{data.baseDatos }}</td>
                <td [style]="{'white-space':'nowrap'}">
                    <p-tag [icon]="'pi ' + obtenerIconoEstado(data.estado)"
                        [severity]="obtenerColorEstado(data.estado) || 'info'" [value]="data.estadoDesc">
                    </p-tag>
                </td>

            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">No se encontró información.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="8">Cargando información. Espere por favor...</td>
            </tr>
        </ng-template>
    </p-table>
</section>
<app-mantenimiento-aplicativo (msjMantenimiento)="rptaMantenimiento($event)"></app-mantenimiento-aplicativo>
<p-toast [showTransformOptions]="'translateY(90%)'" key="notification" position="bottom-right"></p-toast>