<p-blockUI [blocked]="bloquearPag" [baseZIndex]="1000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="confirm2" [baseZIndex]="9000">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>
<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '850px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="1000" (onHide)="btnCerrar()">

    <ng-template pTemplate="content">
        <br>
        <p-fieldset legend="Información General">
            <div class="row">
                <div class="col-sm-12">
                    <label class="label">Persona</label>
                    <div class="p-inputgroup">
                        <div class="p-inputgroup">
                            <input pInputText type="text" (keydown)="validarTeclaEnter($event)"
                                [(ngModel)]="DtoUsuario.USUARIO" [disabled]="editarrepresen" [disabled]="true"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:70%; background-color: rgb(247, 247, 208); height: 30px;" />
                            &nbsp;
                            <input pInputText type="text" [(ngModel)]="DtoUsuario.NOMBRECOMPLETO"
                                class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                style="width:130%; background-color: rgb(247, 247, 208); height: 30px;"
                                [disabled]="true" />
                            <div class="input-group-append">
                                <button pButton icon="fad fa-minus-circle" type="button" title="Limpiar"
                                    (click)="limpiarDocumento()" [disabled]="isNuevo">
                                </button>
                            </div>
                        </div>
                        <button (click)="verSelector()" pButton icon="fal fa-search" class="botonbuscar"
                            [disabled]="isNuevo" type="button" title="Buscar"></button>
                        <!-- <button (click)="crearPersona()" pButton icon="fal fa-user-plus" class="botonbuscar"
                            [disabled]="puedeEditar" type="button" title="Nuevo"></button> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Fecha de Expiracion</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"
                                style="padding: 0; background-color: #00008000;border: none;"><input
                                    (click)="isFechaExpiracion()" class="" type="checkbox" [disabled]="puedeEditar" name="inlineRadioOptions"
                                    id="inlineRadio1" value="option1" [(ngModel)]="tieneFechaExpiracion" [checked]="tieneFechaExpiracion"></span>
                            <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}"
                                [(ngModel)]="DtoUsuario.FechaExpiracion" [inputStyle]="{'width':'100%'}"
                                [disabled]="true" yearRange="1940:2300" [locale]="es"
                                dateFormat="dd/mm/yy" [showIcon]="true">
                            </p-calendar>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Password</label>
                        <input pInputText type="text" [style]="{'width':'100%'}" [disabled]="puedeEditar"
                            [(ngModel)]="DtoUsuario.Clave"
                            style="background-color: rgb(247, 247, 208); height: 30px;" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Confirmar Password</label><input pInputText type="text"
                            [style]="{'width':'100%'}" [disabled]="puedeEditar"
                            style="background-color: rgb(247, 247, 208); height: 30px;"
                            [(ngModel)]="DtoUsuario.ClaveNueva" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Perfil</label>
                        <p-dropdown [options]="lstPerfil"
                            [style]="{'background-color': 'rgb(247, 247, 208)', 'height': '30px'}"
                            [disabled]="puedeEditar" [(ngModel)]="DtoUsuario.PERFIL"> </p-dropdown>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Tipo Usuario</label>
                        <p-dropdown [options]="lstTipoUsuario"
                            [style]="{'background-color': 'rgb(247, 247, 208)', 'height': '30px'}"
                            [disabled]="puedeEditar" [(ngModel)]="DtoUsuario.TipoUsuario"> </p-dropdown>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Estado</label>
                        <p-dropdown [options]="lstEstados"  [disabled]="puedeEditar" [(ngModel)]="DtoUsuario.ESTADO"
                            [style]="{'background-color': 'rgb(247, 247, 208)', 'height': '30px'}">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="label">Correo</label>
                        <input pInputText type="text" [style]="{'width':'100%'}" [disabled]="puedeEditar"
                            [(ngModel)]="DtoUsuario.CorreoElectronico" />
                    </div>
                </div>
                <!-- <div class="col-sm-4">
                    <div class="form-group">
                        <label class="label">Estado</label>
                        <p-dropdown [options]="lstEstados"  [disabled]="puedeEditar" [(ngModel)]="DtoUsuario.ESTADO"
                            [style]="{'background-color': 'rgb(247, 247, 208)', 'height': '30px'}">
                        </p-dropdown>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-sm-4">
                        <nb-checkbox status="primary"  name="groupname"
                        style="padding-left: 5;" [(ngModel)]="DtoUsuario.FlagLetra">
                        Aprobador Letra &nbsp;</nb-checkbox>                    
                </div>
                <div class="col-sm-4">
                    <nb-checkbox status="primary"  name="groupname"
                        style="padding-left: 5;" [(ngModel)]="DtoUsuario.FlagInteres" >
                        Aprobador Interes&nbsp;</nb-checkbox>
                </div>
                <div class="col-sm-4">
                    <nb-checkbox status="primary"  name="groupname"
                        style="padding-left: 5;" [(ngModel)]="DtoUsuario.FlagContrato">
                        Aprobador Contrato&nbsp;</nb-checkbox>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="Auditoria">
            <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                [modificacionFecha]="fechaModificacion"></ngx-auditoria>
        </p-fieldset>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" *ngIf="!puedeEditar" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar($event)"></p-button>
    </ng-template>

</p-dialog>
<p-toast key="bc" [baseZIndex]="1000"></p-toast>
<ngx-persona-buscar></ngx-persona-buscar>
<ngx-persona-mantenimiento></ngx-persona-mantenimiento>
