<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '1250px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="1000" (onHide)="btnCerrar()">
    <br>
    <ng-template pTemplate="content">
        <div class="row">
            <div class="col-sm-5">
                <p-fieldset legend="Datos">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="label">Código</label>
                            <input pInputText type="text" [style]="{'width':'100%'}" [(ngModel)]="dto.Codigo"/>
                        </div>
                        <div class="col-sm-6">
                            <label class="label">Tipo</label>
                            <div class="d-flex">
                                <div class="p-inputgroup">
                                    <p-radioButton name="Correo" value="correo" [(ngModel)]="rbTipo"
                                        inputId="Correo"></p-radioButton>
                                    <label for="Correo" class="ml-2">Correo</label>
                                </div>
                                <div class="p-inputgroup">
                                    <p-radioButton name="SMS" value="sms" [(ngModel)]="rbTipo"
                                        inputId="SMS"></p-radioButton>
                                    <label for="SMS" class="ml-2">SMS</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="label">Nombre</label>
                            <input pInputText type="text" [style]="{'width':'100%'}" [(ngModel)]="dto.Nombre"/>
                        </div>
                        <div class="col-sm-12">                       
                            <label for="inputOrdAten" class="label">Compañia</label>                      
                            <p-dropdown [style]="{ 'width':'100%'}" [options]="lstCompania"
                                  [disabled]="puedeEditar" [(ngModel)]="dto.IdEmpresa"></p-dropdown>
                        </div>
                        <div class="col-sm-12">
                            <label class="label">Estado</label>
                            <p-dropdown [style]="{ 'width':'100%'}" [options]="lstEstados"
                                [disabled]="puedeEditar" [(ngModel)]="dto.Estado"></p-dropdown>
                        </div>
                        <div class="col-sm-12">
                          
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <div class="col-sm-7">
                <p-fieldset legend="Mensaje">
                    <div class="row">
                        <div class="col-sm-12" *ngIf="rbTipo == 'correo'">
                            <label class="label">Asunto</label>
                            <input pInputText type="text" [style]="{'width':'100%'}"  [(ngModel)]="dto.Asunto"/>
                        </div>
                        <div class="col-sm-12">
                            <label class="label">Mensaje</label>
                            <textarea rows="9" [style]="{'width':'100%'}" pInputTextarea
                                [autoResize]="false"  [(ngModel)]="dto.Mensaje"></textarea>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar()"></p-button>
    </ng-template>
</p-dialog>