

<p-blockUI [blocked]="bloquearPag" [baseZIndex]="2000">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
  [style]="{width: '1400px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="1000">

  <ng-template pTemplate="content">
    <br>
    <p-fieldset legend="Información Consulta">
      <!-- <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="tipousuario" [value]="lstLote"
        [responsive]="true" [sortOrder]="-1" sortField="tipousuario"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true"> -->
      <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" [responsive]="true " [style]="{ width: '100%'}"
        [sortOrder]="1" [value]="lstLote"   [(selection)]="seleccion" (onRowSelect)="onRowSelect($event)" selectionMode="single"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" dataKey="num"
        [rowsPerPageOptions]="[15,30,50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">

        <ng-template pTemplate="header">
          <tr>
            <!-- <th class="tablaHeaderCheckBox">
               <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->

            <th class="tablaHeaderCheckBox" pSortableColumn="tipousuario"><p-sortIcon field="tipousuario">
            </p-sortIcon>
          </th>

            <th class="tablaHeaderCodigoChico" pSortableColumn="tipousuario">Nro <p-sortIcon field="tipousuario">
              </p-sortIcon>
            </th>
            <th class="tablaHeaderNombreChico" pSortableColumn="Perfil">Sucursal<p-sortIcon field="Perfil"></p-sortIcon>
            </th>
            <th class="tablaHeaderNombreChico" pSortableColumn="VaEstado">Programa<p-sortIcon
                field="VaEstado"></p-sortIcon>
            </th>
            <th class="tablaHeaderNombreChico" pSortableColumn="VaEstado">Lote<p-sortIcon field="VaEstado"></p-sortIcon>
            </th>
            <th class="tablaHeaderMonto" pSortableColumn="VaEstado">Valor Total<p-sortIcon
                field="VaEstado"></p-sortIcon>
            </th>
            <th class="tablaHeaderMonto" pSortableColumn="VaEstado">Area Total(m2)<p-sortIcon
                field="VaEstado"></p-sortIcon>
            </th>
            <th class="tablaHeaderNombreChico" pSortableColumn="VaEstado">Estado Campo Detalle<p-sortIcon
                field="VaEstado"></p-sortIcon>
            </th>
            <th class="tablaHeaderEstado" pSortableColumn="VaEstado">Estado<p-sortIcon field="VaEstado"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData  let-ri="rowIndex">
          <tr [pSelectableRow]="rowData">
            <!-- <td class="tablaColumnaCheckBox">
              <p-tableCheckbox [value]="rowData" ></p-tableCheckbox>
            </td> -->

            <td class="tablaColumnaCheckBox">
            <nb-checkbox title="Requerido" [(ngModel)]="rowData.checkregistro" binary="true">
            </nb-checkbox>
          </td>

            <td class="tablaColumnaCodigoChico" style="text-align: center;">
              <span class="p-column-title">Nro</span>
              {{rowData.num}}
            </td>

            <td class="tablaColumnaNombreChico" style="text-align: center;">
              <span class="p-column-title">Sucursal</span>
              {{rowData.SedDescripcion}}
            </td>

            <td class="tablaColumnaNombreChico" style="text-align: center;">
              <span class="p-column-title">Programa</span>
              {{rowData.NomProyecto}}
            </td>

            <td class="tablaColumnaNombreChico" style="text-align: center;">
              <span class="p-column-title">Lote</span>
              {{rowData.Nombre}}
            </td>

            <td class="tablaColumnaMonto" style="text-align: center;">
              <span class="p-column-title">Valor Total</span>
              {{rowData.ValorTotal}}
            </td>
            <td class="tablaColumnaMonto" style="text-align: center;">
              <span class="p-column-title">Area Total(m2)</span>
              {{rowData.AreaTotal}}
            </td>
            <td class="tablaColumnaNombreChico" style="text-align: center;">
              <span class="p-column-title">Estado Campo Detalle</span>
              {{rowData.DesSituacion}}
            </td>
            <td class="tablaColumnaEstado">
              <span class="p-column-title">Estado</span>
              {{rowData.DesEstado}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-fieldset>
    <br>
    <div class="row">
      <p-fieldset legend="Lote" class="col-sm-8">

        <div class="row">

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Tipo de Interes</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstTipoInteres" [disabled]="puedeEditar"
                [(ngModel)]="dto.TipoInteres" [style]="{'width':'100%'}" >
            </p-dropdown>
            </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="label"> % Morosidad</label>
              <div class="p-inputgroup">
                <input pInputText type="text" [(ngModel)]="dto.MorosidadPorcentaje" [disabled]="puedeEditar" />
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Dias de Gracia</label>
              <div class="p-inputgroup">
                <input pInputText type="text" [(ngModel)]="dto.diasGracia" [disabled]="puedeEditar" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Estado de Campo Detalle</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstEstadoCampo" [(ngModel)]="dto.Situacion" [disabled]="puedeEditar"
                  [style]="{'width':'100%'}"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <label class="label">Archivo</label>
            <div class="p-inputgroup">
              <input pInputText [(ngModel)]="dto.archivoasociado" maxlength="100" type="text" disabled
                [style]="{'width':'100%'}" (ngModelChange)="dto.archivoasociado=$event.toUpperCase()" />
              <input #fileUpload type="file" class="form-control" style="display:none"
                (change)="cargarArchivo(fileUpload)" accept="{{acceptextensions}}">
              <button pButton pRipple type="button" icon="fad fa-cloud-upload-alt"
                class="ui-button-rounded p-button-text" title="Subir Archivo"
                (click)="seleccionarArchivo(fileUpload.click())"></button>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar"
              type="submit" (click)="coreGuardar()"></p-button>
            <p-button label="Cancelar" icon="pi pi-minus-circle" styleClass="p-button-primary" [disabled]="puedeEditar"
              type="submit" (click)="coreSalir()"></p-button>
          </div>
        </div>
      </p-fieldset>

      <p-fieldset legend="Otros" class="col-sm-4">
        <div class="row">

          <div class="col-sm-12">
            <div class="form-group">
              <label class="label">Nro Lote</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input pInputText type="text" [(ngModel)]="dto.Nombre" [style]="{'width':'100%'}"
                  [disabled]="puedeEditar" />
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <label class="label">Tipo Cambio</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <!--Arreglar-->
                <input pInputText type="text" [(ngModel)]="dto.TipoCambio" [style]="{'width':'100%'}"
                  [disabled]="puedeEditar" />
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <label class="label">Moneda</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                <p-dropdown [options]="lstMoneda" [disabled]="puedeEditar" [style]="{'width':'100%'}"
                  [(ngModel)]="dto.MonedaCodigo"></p-dropdown>
              </div>
            </div>
          </div>


        </div>

        <hr>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="label">Area Total(m2)</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input pInputText type="text" [(ngModel)]="dto.AreaTotal" [style]="{'width':'100%'}"
                  [disabled]="puedeEditar" />
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label class="label">Valor(m2)</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input pInputText type="text" (blur)="valorSoles($event)" [(ngModel)]="dto.Valor"
                  [style]="{'width':'100%'}" [disabled]="true" />
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label class="label">Valor Total Lote</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input pInputText type="text" (blur)="valorTotalSoles($event)" [(ngModel)]="dto.ValorTotal"
                  [style]="{'width':'100%'}" [disabled]="true" />
              </div>
            </div>
          </div>

        </div>

        <hr>
        <div class="row">

          <div class="col-sm-12">
            <div class="form-group">
              <label class="label">Valor m2(PEN)</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <!-- <input pInputText type="text" [(ngModel)]="valorEnSoles" [style]="{'width':'100%'}"
                  [disabled]="true" /> -->

                  <p-inputNumber [locale]="locale" [(ngModel)]="valorEnSoles" mode="decimal"
                  [disabled]="true" [inputStyle]="{'width':'100%','text-align': 'right'}" [maxFractionDigits]="2"
                  [minFractionDigits]="2">
              </p-inputNumber>

              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label class="label">Valor Total(PEN)</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <!-- <input pInputText type="text" [(ngModel)]="valorEnsolesTotal" [style]="{'width':'100%'}"
                  [disabled]="true" /> -->
                  <p-inputNumber [locale]="locale" [(ngModel)]="valorEnsolesTotal" mode="decimal"
                  [disabled]="true" [inputStyle]="{'width':'100%','text-align': 'right'}" [maxFractionDigits]="2"
                  [minFractionDigits]="2">
              </p-inputNumber>
              </div>
            </div>
          </div>


        </div>


      </p-fieldset>
    </div>


  </ng-template>
</p-dialog>


<p-toast key="md" [baseZIndex]="3000"></p-toast>